@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,200,100,500,600,700,800,900|Open+Sans:400,300,600,700,800);
.inner-nav {
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
}

.nav > li.nav-menus>a {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 169, 84, 0.08)), to(rgba(250, 169, 84, 0.8)));
    background: -webkit-linear-gradient(top, rgba(250, 169, 84, 0.08) 0%, rgba(250, 169, 84, 0.8) 100%);
    background: -moz-linear-gradient(top, rgba(250, 169, 84, 0.08) 0%, rgba(250, 169, 84, 0.8) 100%);
    background: -o-linear-gradient(top, rgba(250, 169, 84, 0.08) 0%, rgba(250, 169, 84, 0.8) 100%);
    background: linear-gradient(to bottom, rgba(250, 169, 84, 0.08) 0%, rgba(250, 169, 84, 0.8) 100%);
    border: 1px rgba(250, 169, 84, 0.80);
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

.nav.nav-justified {
    background: -webkit-gradient(linear, left top, right top, from(#FAA954), color-stop(white), color-stop(white), to(#FAA954));
    background: -webkit-linear-gradient(left, #FAA954, white, white, #FAA954);
    background: -moz-linear-gradient(left, #FAA954, white, white, #FAA954);
    background: -o-linear-gradient(left, #FAA954, white, white, #FAA954);
    background: linear-gradient(to right, #FAA954, white, white, #FAA954);
    overflow: hidden;
}