@import "lesshat.less";

@color1: #e6e7e9; 
@color2: #d4ae70; 
@color3: #ff4f4f;

@color_base: #313131;
@color_base_light: #666666;

@font_body: 14px;
@font_head: 21px;

@line_height: 150%;

.navbar-toggle .icon-bar { background-color: black; }
.copy { color: #7e7e7e; }
.nopadding { padding: 0; }
.light_shade { color: #8f9fab; }