@import "lesshat.less";
@import "gf.css";
/*Author wohlig technology*/
@color1: #e6e7e9;
@color2: #d4ae70;
@color3: #ff4f4f;
@color4: #20df87;
@color-base: #313131;
@color-base-light: #666666;
@color-shade-light: #666666;
@font-family-body: 'Open Sans';
@font-body: 13px;
@font-family-head: 'Raleway';
@font-big: 16px;
@box-mini: 32px;
@padding-box: 25px;

.lh(@n) { line-height: @n; }

.square(@v) {
    width: @v;
    height: @v;
}

.rect(@h, @w) {
    width: @w;
    height: @h;
}

body {
//    padding-top: 105px;
    font-family: @font-family-body;
    font-size: @font-body;
    .lh(150%);
    color: @color-base;
}

a {
    color: @color-base;
    text-decoration: none !important;
    .transition(all 300ms ease);
}

a:hover { color: @color-base; }

h1, h2, h3, h4, h5, h6 { font-family: @font-family-head; }

h3.home-header {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

.navbar-toggle .icon-bar { background-color: black; }

.copy {
    font-family: @font-family-head;
    color: @color-shade-light;
    padding: 15px 0;

    p {
        margin: 0;
        font-size: 12px;
    }

    a { color: @color2; }
}

.nopad { padding: 0; }

.nopad-right { padding-right: 0; }

.nopad-left { padding-left: 0; }

.light-shade { color: #8f9fab; }

.row-flex { .display(flex); }

.col-flex { .flex(1); }

.style1-bg { background-color: @color1; }

.style2-bg { background-color: @color2; }

.style3-bg { background-color: @color3; }

.style4-bg { background-color: @color4; }

.font-color1 { color: @color1; }

.font-color2 { color: @color2; }

.font-color3 { color: @color3; }

.font-color4 { color: @color4; }

.img-responsive { width: 100%; }

.inline-box {
    font-family: @font-family-head;
    font-size: 11px;
    .lh(120%);
    position: absolute;
    top: 50%;
    left: 40px;
    .translateY(-50%);
}

.box-height {
    position: relative;
    height: @box-mini;
    cursor: pointer;
}

.small-box {
    display: inline-block;
    .square(@box-mini);
    .lh(@box-mini);
    text-align: center;
    color: white;
}

.form-control:focus {
    border-color: transparent;
    .box-shadow(none);
}

button, input, optgroup, select, textarea {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    outline: 0 !important;
    .transition(all 0.5s ease);
}

.ingroup {
    font-family: @font-family-head;
    background-color: #f1f1f1;
    padding-right: 3px;
    padding-top: 1px;

    input, button { border: none; }

    input {
        box-shadow: none;
        background-color: transparent;
        height: 33px;
    }

    .input-group-btn button {
        .border-radius(0px);
        border: 0px;
        padding: 4px 7px;
        color: @color-shade-light;
    }
}

nav.navbar {
    font-family: @font-family-head;
    text-transform: uppercase;
    color: @color-base;
    font-weight: 500;
    border: 0;
    margin: 15px 0 0;
    min-height: 0;
}


.logo {
    padding-right: 30px;
    padding-top: 5px;
    width: 97%;
}

.above-nav { padding-top: 15px; }

.after-nav { padding-top: 10px; }

.search-box {
    text-transform: uppercase;
    font-family: @font-family-head;
    position: relative;

    .accordion-upper {
        padding: 10px 15px;
        background-color: @color2;
        color: white;
        min-height: 44px;
        line-height: 200%;
    }

    .panel-heading, .panel-body {
        .border-radius(0px);
        background: transparent;
        border: 0px;
    }

    .panel-heading { padding: 15px 15px; }

    .panel {
        .box-shadow(none);
        .border-radius(0px);
        margin: 0px;
        border: 0px;
        border-bottom: 1px solid #e6e7e9;
        border-left: 1px solid #e6e7e9;
    }

    .panel-group .panel+.panel { margin: 0; }

    .panel-title {
        font-size: @font-body;
        font-weight: 700;
        padding-left: 15px;
        position: relative;

        a {
            display: block;
            outline: 0 !important;
        }
    }

    .panel-title.right:before { content: "\f105"; }

    .panel-title:before {
        content: "\f107";
        position: absolute;
        left: 0;
        top: 0;
        font-family: 'FontAwesome';
    }

    .panel-body { padding: 0px 15px 15px; }

    label {
        color: #666666;
        font-weight: normal;
        font-size: 12px;
        display: block;
        .user-select(none);
        cursor: pointer;
    }

    input[type="checkbox"] {
        border: 1px solid #666;
        background-color: white;
        .appearance();
        height: 10px;
        width: 10px;
        border-radius: 100% !important;
        -webkit-border-radius: 100% !important;
        -moz-border-radius: 100% !important;
        margin-right: 3px;
        .transition(all 300ms ease);
    }

    input[type="checkbox"]:checked { background-color: #666; }

    .panel-group { margin: 0; }

    .go-btn { cursor: pointer; }

    .panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body { border: 0px; }

    .absolute-box {
        position: absolute;
        right: 0;
        top: 0;
        left: 15px;
        z-index: 9;
    }
}

.slider-holder {
    height: 380px;
    overflow: hidden;
}

.sweet-box {
    margin: 10px -1px 0;

    .col-flex {
        position: relative;
        margin: 0px 1px 0;
    }

    .black-overlay {
        background-color: rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .text-white {
        color: white;
        position: absolute;
        text-transform: uppercase;
        z-index: 2;
        width: 100%;
        top: 50%;
        text-align: center;
        font-size: @font-big;
        padding: 0px 45px;
        font-family: @font-family-head;
        font-weight: 600;
        .translateY(-50%);
    }

    .grey-bg { background-color: #b2b2b2; }

    @space: 15px;

    .info-holder {
        position: absolute;
        top: @space;
        bottom: @space;
        background-color: white;
        margin: 0@space;
        padding: 10px;

        h4 {
            text-align: center;
            text-transform: uppercase;
            font-size: @font-big;
            margin: 0px;
            font-weight: 600;
            min-height: 65px;
        }

        p {
            height: 75px;
            overflow: hidden;
            margin: 0;
        }

        .more {
            color: @color3;
            text-transform: uppercase;
            font-size: 11px;
            font-family: @font-family-head;
            position: absolute;
            bottom: 0px;
            right: 5px;
        }
    }
}

.artwork-box {
    padding-bottom: @padding-box;

    .row-flex { margin: 0 -5px; }

    .col-flex {
        position: relative;
        margin: 0 5px;
    }

    h3 { margin: @padding-box 0; }

    .text-heading {
        position: absolute;
        bottom: 0;
        color: white;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        font-size: 16px;
        padding: 8px 0;
        font-weight: 500;
        background-color: rgba(0, 0, 0, 0.6);
    }
}

.padding-more {
    padding: @padding-box 0;

    h3 { margin: 0 0 15px; }

    p { text-align: justify; }

    ol, ul {
        margin-top: 0;
        margin-bottom: 10px;
        padding: 0 20px 0;
    }
}

.some-image {
    background-color: white;
    padding: 15px;
}

.bold { font-weight: 700; }

.box-style1 {
    background-color: @color1;
    padding: 0 15px 10px;

    .img-holder { margin: 0 -15px; }

    p {
        height: 55px;
        overflow: hidden;
        text-align: left;
    }
}

h4 {
    margin: 10px 0;
    font-weight: 600;
}

.more2 {
    color: @color3;
    font-size: 11px;
}

.image-box {
    margin: 0 -10px;

    .col-flex { margin: 0 10px; }
}

.white-line { border-right: 1px solid white; }

.fixer-top {
    position: fixed;
    z-index: 9999;
    background-color: white;
    width: 100%;
    padding-bottom: 5px;
    top: 0px;
    .transition(all 100ms ease);
}

.shadow-on { .box-shadow(0px 1px 2px 0px rgba(0, 0, 0, 0.4)); }

.nav>li>a {
    padding: 10px 0px;
}

.nav {
    li {
        a {
            .background-image(linear-gradient(to bottom, #fff5eb 0%, #f89e43 100%));
            .transition(all 0.5s ease);
        }

        .slant-menu {
            height: 100%;
            width: 20px;
            position: absolute;
            content: "";
            top: 0;
            .background-image(linear-gradient(to bottom, #fff5eb 0%, #f89e43 100%));
            .skew(-20deg);
            z-index: -1;
        }

        a:after {
            right: -10px;
            .slant-menu();
        }

        a:before {
            left: -10px;
            .slant-menu();
        }
    }

    li+li { margin-left: 25px; }

    li:nth-last-child(1) {
        a { padding-right: 10px; }

        a:after { width: 0; }
    }

    li:nth-child(1) {
        a:before { width: 0; }

        a { padding-left: 10px; }
    }
}

.social-icons {
    text-align: center;

    ul {
        padding: 0;
        margin: 5px 0 0;
    }

    i { font-size: 22px; }

    li {
        list-style: none;
        display: inline;
    }

    .fa-facebook-square { color: #3B5998; }

    .fa-youtube-square { color: #CE332D; }

    .fa-google-plus-square { color: #D13F2D; }

    .fa-twitter-square { color: #44CCF6; }
}

.flexslider {border: 0px;}
.carousel li {margin-right: 0px;}