<div class="border-top"></div>
<div class="info min-cont">
  <div class="container">
    <div class="row">
      <div class="myaccnthead col-md-12">
        <div class="alert alert-success" ng-show="showSuccess">
          <strong>Success!</strong> User updated successfully.
        </div>
        <div class="alert alert-danger" ng-show="showFail">
          <strong>Failed!</strong> Failed to update user info.
        </div>
        <div class="alert alert-warning" ng-show="showPass">
          <strong>Warning!</strong> Don't use same password. Please use different password.
        </div>
        <h4>My Account</h4>
      </div>
      <div class="col-md-2">
        <div class="info-cont pull-right">
          <ul class="info-li">
            <li class="cat-list cpointer" ng-class="info" ng-click="changeinfo()">Personal Info</li>
            <li class="cat-list cpointer" ng-class="chngpass" ng-click="changechngpass()">Change password</li>
            <li class="cat-list cpointer" ng-class="chngadd" ng-click="changeadress()">My Address Book</li>
            <li class="cat-list cpointer" ng-class="myorders" ng-click="changemyorders()">My Orders</li>
            <li class="cat-list cpointer" ng-class="ordertracing" ng-click="changeordertracing()">Trace Your Order</li>
            <li class="cat-list cpointer"><a href="#/favorite">My Favorites</a>
              <span>({{totalfav}})</span>
            </li>
            <li class="cat-list cpointer" ng-class="bankingdetails" ng-click="changebankingdetails()">Banking Details</li>
          </ul>
        </div>
      </div>
      <div class="col-md-5" ng-if="info=='bolds'">
        <div class="chngpswd-cont">
          <div class="form-group">
            <div class="input-id">
              <input class="form-control" ng-model="user.name" placeholder="Name" required type="text">
            </div>
            <!-- <div class="input-id">
                            <input type="text" class="form-control" placeholder="Last Name">
                        </div> -->
            <div class="input-id">
              <textarea class="form-control" id="comment" ng-model="user.regadd" placeholder="Address" rows="5"></textarea>
            </div>
            <div class="input-id">
              <input class="form-control" ng-model="user.email" placeholder="Email ID" required required type="email">
            </div>
            <div class="input-id">
              <input class="form-control" maxlength="10" ng-model="user.mob" only-digits placeholder="Phone No" type="text">
            </div>
            <div class="input-id">
              <label class="radio-inline">
                <input name="optradio" ng-model="user.gender" type="radio" value="male">Male</label>
              <label class="radio-inline">
                <input name="optradio" ng-model="user.gender" type="radio" value="female">Female</label>
            </div>
            <a class="btn btn-sucesses" ng-click="edituser()">Save</a>
          </div>
        </div>
      </div>

      <div class="col-md-4" ng-if="chngpass=='bolds'">
        <form ng-submit="changepassword()">
          <div class="chngpswd-cont">
            <div class="form-group">
              <div class="input-id">
                <input class="form-control" ng-model="user.password" placeholder="Old Password" required type="password">
              </div>
              <div class="input-id">
                <input class="form-control" ng-model="user.editpassword" placeholder="New Password" required type="password">
              </div>
              <div class="input-id">
                <input class="form-control" ng-model="user.cnfrmpassword" placeholder="Confirm Password" required type="password">
                <span ng-show="ismatch" style="color:red;">Password did not match!!</span>
              </div>
              <button class="btn btn-sucesses" type="submit">Save</button>
            </div>
          </div>
        </form>
      </div>
      <!-- <div class="col-md-4" ng-if="chngadd=='bolds'">
        <div class="chngpswd-cont">
          <div class="addcat">
            <h5 class="displ">Default Billing Address</h5>
          </div>
          <div class="form-group">
            <div class="input-id">
              <textarea class="form-control" id="comment" ng-model="user.regadd" placeholder="Address" rows="5"></textarea>
            </div>
            <div class="input-id">
              <input class="form-control" ng-model="user.city" placeholder="City" required type="text">
            </div>
            <div class="input-id">
              <input class="form-control" ng-model="user.state" placeholder="State" required type="text">
            </div>
            <div class="input-id">
              <select class="form-control" ng-model="user.country" placeholder="Country" required>
                <option value="">Select Country</option>
                <option value="{{country.name}}" ng-repeat="country in allcountries">{{country.name}}</option>
              </select>
            </div>
            <div class="input-id">
              <input class="form-control" ng-model="user.pincode" placeholder="Pincode" required type="number">
            </div>
            <a class="btn btn-sucesses" ng-click="saveAddress();">Save</a>
            <a class="btn btn-sucesses" ng-click="closeTab(1)">Cancel</a>
          </div>
        </div>
      </div> -->

      <div class="col-md-4" ng-if="chngpass=='bolds'">
        <form ng-submit="changepassword()">
          <div class="chngpswd-cont">
            <div class="form-group">
              <div class="input-id">
                <input class="form-control" ng-model="user.password" placeholder="Old Password" required type="password">
              </div>
              <div class="input-id">
                <input class="form-control" ng-model="user.editpassword" placeholder="New Password" required type="password">
              </div>
              <div class="input-id">
                <input class="form-control" ng-model="user.cnfrmpassword" placeholder="Confirm Password" required type="password">
                <span ng-show="ismatch" style="color:red;">Password did not match!!</span>
              </div>
              <button class="btn btn-sucesses" type="submit">Save</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-4" ng-if="chngadd=='bolds'">
        <div class="chngpswd-cont">
          <div class="addcat">
            <h5 class="displ">Default Billing Address</h5>
            <!-- <a class="displ righ" ng-click="changeTab(1)" ng-if="!formstatus">Edit Address</a> -->
          </div>
          <div class="form-group">
            <div class="tel-box">
              <input type="text" class="form-control tel-country" ng-model="user.regadd" placeholder="Flat No" required>
              <input type="text" class="form-control tel-number" ng-model="user.regadd" placeholder="Name Of Buliding" required>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="user.regadd" placeholder="Landmark" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="user.regadd" placeholder="Street" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="user.regadd" placeholder="Locality" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="user.city" placeholder="City">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="user.pincode" placeholder="Pincode">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="user.state" placeholder="State">
          </div>
          <div class="input-id">
            <select class="form-control" ng-model="shipping.country" placeholder="Country" required>
              <option value="">Select Country</option>
              <option value="{{country.name}}" ng-repeat="country in allcountries">{{country.name}}</option>
            </select>
          </div>
          <div class="accadd" ng-if="!formstatussec">
            <p ng-if="user.shipping.address">{{user.shipping.address}},</p>
            <p ng-if="user.shipping.city">{{user.shipping.city}},</p>
            <p ng-if="user.shipping.state">{{user.shipping.state}},</p>
            <p ng-if="user.shipping.country">{{user.shipping.country}},</p>
            <p ng-if="user.shipping.pincode">{{user.shipping.pincode}}</p>
          </div>
          <button class="btn btn-sucesses" type="submit">Save</button>
          <a class="btn btn-sucesses" ng-click="closeTab(2)">Cancel</a>
          <!-- <div class="accadd" ng-if="!formstatus">
                        <p ng-if="user.regadd">{{user.regadd}},</p>
                        <p ng-if="user.city">{{user.city}},</p>
                        <p ng-if="user.state">{{user.state}},</p>
                        <p ng-if="user.country">{{user.country}},</p>
                        <p ng-if="user.pincode">{{user.pincode}}</p>
                    </div> -->
        </div>
      </div>


      <div class="col-md-4" ng-if="chngadd=='bolds'">
        <div class="chngpswd-cont">
          <div class="addcat">
            <h5 class="displ">Default Shipping Address</h5>
            <div class="form-group">
              <div class="tel-box">
                <input type="text" class="form-control tel-country" ng-model="user.regadd" placeholder="Flat No" required>
                <input type="text" class="form-control tel-number" ng-model="user.regadd" placeholder="Name Of Buliding" required>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" ng-model="user.regadd" placeholder="Landmark" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" ng-model="user.regadd" placeholder="Street" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" ng-model="user.regadd" placeholder="Locality" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" ng-model="user.city" placeholder="City">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" ng-model="user.pincode" placeholder="Pincode">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" ng-model="user.state" placeholder="State">
            </div>
            <div class="input-id">
              <select class="form-control" ng-model="shipping.country" placeholder="Country" required>
                <option value="">Select Country</option>
                <option value="{{country.name}}" ng-repeat="country in allcountries">{{country.name}}</option>
              </select>
            </div>
            <div class="accadd" ng-if="!formstatussec">
              <p ng-if="user.shipping.address">{{user.shipping.address}},</p>
              <p ng-if="user.shipping.city">{{user.shipping.city}},</p>
              <p ng-if="user.shipping.state">{{user.shipping.state}},</p>
              <p ng-if="user.shipping.country">{{user.shipping.country}},</p>
              <p ng-if="user.shipping.pincode">{{user.shipping.pincode}}</p>
            </div>
            <button class="btn btn-sucesses" type="submit">Save</button>
            <a class="btn btn-sucesses" ng-click="closeTab(2)">Cancel</a>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-4">
        <div class="chngpswd-cont">
          <div class="addcat">
            <h5 class="displ"></h5>

          </div>
          <div class="form-group">
            <form ng-submit="saveShipping();">
              <div class="input-id">
                <textarea class="form-control" id="comment" ng-model="shipping.address" placeholder="Address" required rows="5"></textarea>
              </div>
              <div class="input-id">
                <input class="form-control" ng-model="shipping.city" placeholder="City" required required type="text">
              </div>
              <div class="input-id">
                <input class="form-control" ng-model="shipping.state" placeholder="State" required required type="text">
              </div>
              <div class="input-id">
                <select class="form-control" ng-model="shipping.country" placeholder="Country" required>
                  <option value="">Select Country</option>
                  <option value="{{country.name}}" ng-repeat="country in allcountries">{{country.name}}</option>
                </select>
              </div>
              <div class="input-id">
                <input class="form-control" maxlength="6" ng-model="shipping.pincode" ng-trim="false" only-digits placeholder="Pincode" required required type="text">
              </div>
            </form>
          </div>

        </div>
      </div> -->
      <div class="col-md-10" ng-if="myorders=='bolds'">
        <div class="cart orders" ng-repeat="orders in myorderedproducts" ng-if="myorderedproducts.length>0">
          <h5>
            <span class="bold">Order Id:</span> {{orders.orderid}}
            <span class="pull-right">
              <span class="bold">Date:</span> {{orders.timestamp | date:'MMMM dd, yyyy'}}</span>
          </h5>
          <table class="table table-hover content-static">
            <thead>
              <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Seller</th>
                <th>Status</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="artwork in orders.artwork">
                <td fancybox-box href="{{artwork.artwork.image[0] | uploadthumbnail}}">
                  <img src="{{artwork.artwork.image[0] | uploadsmallimage}}" height="30" />
                </td>
                <td>{{artwork.name}}</td>
                <td>AADPL</td>
                <td>{{orders.status}}</td>
                <td class="pull-right">{{artwork.artwork.gprice | number:0}}</td>
              </tr>
            </tbody>
            <tfoot class="bold">
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Sub Total</td>
                <td class="pull-right">{{orders.price | number:0}}</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Discount</td>
                <td class="pull-right">- {{orders.discount | number:0}}</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Total</td>
                <td class="pull-right">Rs. {{orders.price | number:0}}</td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="text-center" ng-if="myorderedproducts.length==0">
          <h4>No Orders Yet !</h4>
        </div>
      </div>
      <div class="col-md-4" ng-if="ordertracing=='bolds'">
        <div class="trck-order">
          <h5>Trace Your Order:</h5>
          <input class="form-control displ wseve paddbtm" placeholder="Enter Order Id" type="text">
          <span>
            <a class="btn btn-sucesses displ" href="#">Track Now</a>
          </span>
        </div>
        <p class="pending bolds" ng-if="trace!=''">Your Order Status Is :
          <br>
          <span class="normal">The shipment was sent through: Ekart Logistics Shipment Tracking ID: WSRC4251982428</span>
        </p>
      </div>
      <div class="col-md-8" ng-if="bankingdetails=='bolds'">
        <div class="trck-order">
          <h5 class="title-color">Bank Details</h5>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Name of Account Holder as it appears in the Account</label>
              <input type="text" class="form-control" ng-model="user.aname" placeholder="Name of Account Holder as it appears in the Account">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Type of Account</label>
              <div>
                <select class="form-control" ng-model="user.atype">
                  <option value="savings">Savings</option>
                  <option value="current">Current</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Name of Bank</label>
              <input type="text" class="form-control" ng-model="user.nbank" placeholder="Name of Bank">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Bank Branch Address</label>
              <textarea class="form-control" ng-model="user.badd" placeholder="Bank Branch Address"></textarea>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Address of Account Holder (if different from stated above)</label>
              <textarea class="form-control" ng-model="user.aadd" placeholder="Address of Account Holder (if different from stated above)"></textarea>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Account Number</label>
              <input type="text" class="form-control" ng-model="user.anum" placeholder="Account Number">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">RTGS / NEFT IFS Code</label>
              <input type="text" class="form-control" ng-model="user.ifsc" placeholder="RTGS / NEFT IFS Code">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
