<div class="border-top"></div>
<section class="artistpage">
    <div class="container">
        <div class="ulblock">
        <h4 class="head-team">Paintings</h4>
        <ul class="lineul">
            <li><a href="#">Shrikant W Kolhe</a>
            </li>
            <li><a href="#">Dinesh Gain</a>
            </li>
            <li><a href="#">Padmanabh Bendre</a>
            </li>
            <li><a href="#">Shruti Gupta Chandra</a>
            </li>
            <li><a href="#">Krishen Khanna</a>
            </li>
            <li><a href="#">Shruti Mestry</a>
            </li>
            <li><a href="#">Dr Rakesh Singh</a>
            </li>
            <li><a href="#">Paramesh Paul</a>
            </li>
            <li><a href="#">Shruti Jhaveri</a>
            </li>
            <li><a href="#">Sidharth</a>
            </li>
            <li><a href="#">Sukhjeet Singh Kukkal</a>
            </li>
            <li><a href="#">Drishti Vohra</a>
            </li>
            <li><a href="#">Poonam Agarwal</a>
            </li>
            <li><a href="#">Smita Srivastava</a>
            </li>
            <li><a href="#">Ajay Kanwal</a>
            </li>
            <li><a href="#">Sunil Deore</a>
            </li>
            <li><a href="#">Farhad Hussain</a>
            </li>
            <li><a href="#">Prabhakar Alok</a>
            </li>
            <li><a href="#">Sohan Jakhar</a>
            </li>
            <li><a href="#">Arun Pandit</a>
            </li>
            <li><a href="#">Urvi Vakharia</a>
            </li>
            <li><a href="#">Gaurav Bose</a>
            </li>
        </ul>

        <ul class="lineul">
            <li><a href="#">Shrikant W Kolhe</a>
            </li>
            <li><a href="#">Dinesh Gain</a>
            </li>
            <li><a href="#">Padmanabh Bendre</a>
            </li>
            <li><a href="#">Shruti Gupta Chandra</a>
            </li>
            <li><a href="#">Krishen Khanna</a>
            </li>
            <li><a href="#">Shruti Mestry</a>
            </li>
            <li><a href="#">Dr Rakesh Singh</a>
            </li>
            <li><a href="#">Paramesh Paul</a>
            </li>
            <li><a href="#">Shruti Jhaveri</a>
            </li>
            <li><a href="#">Sidharth</a>
            </li>
            <li><a href="#">Sukhjeet Singh Kukkal</a>
            </li>
            <li><a href="#">Drishti Vohra</a>
            </li>
            <li><a href="#">Poonam Agarwal</a>
            </li>
            <li><a href="#">Smita Srivastava</a>
            </li>
            <li><a href="#">Ajay Kanwal</a>
            </li>
            <li><a href="#">Sunil Deore</a>
            </li>
            <li><a href="#">Farhad Hussain</a>
            </li>
            <li><a href="#">Prabhakar Alok</a>
            </li>
            <li><a href="#">Sohan Jakhar</a>
            </li>
            <li><a href="#">Arun Pandit</a>
            </li>
            <li><a href="#">Urvi Vakharia</a>
            </li>
            <li><a href="#">Gaurav Bose</a>
            </li>
        </ul>        <ul class="lineul">
            <li><a href="#">Shrikant W Kolhe</a>
            </li>
            <li><a href="#">Dinesh Gain</a>
            </li>
            <li><a href="#">Padmanabh Bendre</a>
            </li>
            <li><a href="#">Shruti Gupta Chandra</a>
            </li>
            <li><a href="#">Krishen Khanna</a>
            </li>
            <li><a href="#">Shruti Mestry</a>
            </li>
            <li><a href="#">Dr Rakesh Singh</a>
            </li>
            <li><a href="#">Paramesh Paul</a>
            </li>
            <li><a href="#">Shruti Jhaveri</a>
            </li>
            <li><a href="#">Sidharth</a>
            </li>
            <li><a href="#">Sukhjeet Singh Kukkal</a>
            </li>
            <li><a href="#">Drishti Vohra</a>
            </li>
            <li><a href="#">Poonam Agarwal</a>
            </li>
            <li><a href="#">Smita Srivastava</a>
            </li>
            <li><a href="#">Ajay Kanwal</a>
            </li>
            <li><a href="#">Sunil Deore</a>
            </li>
            <li><a href="#">Farhad Hussain</a>
            </li>
            <li><a href="#">Prabhakar Alok</a>
            </li>
            <li><a href="#">Sohan Jakhar</a>
            </li>
            <li><a href="#">Arun Pandit</a>
            </li>
            <li><a href="#">Urvi Vakharia</a>
            </li>
            <li><a href="#">Gaurav Bose</a>
            </li>
        </ul>        <ul class="lineul">
            <li><a href="#">Shrikant W Kolhe</a>
            </li>
            <li><a href="#">Dinesh Gain</a>
            </li>
            <li><a href="#">Padmanabh Bendre</a>
            </li>
            <li><a href="#">Shruti Gupta Chandra</a>
            </li>
            <li><a href="#">Krishen Khanna</a>
            </li>
            <li><a href="#">Shruti Mestry</a>
            </li>
            <li><a href="#">Dr Rakesh Singh</a>
            </li>
            <li><a href="#">Paramesh Paul</a>
            </li>
            <li><a href="#">Shruti Jhaveri</a>
            </li>
            <li><a href="#">Sidharth</a>
            </li>
            <li><a href="#">Sukhjeet Singh Kukkal</a>
            </li>
            <li><a href="#">Drishti Vohra</a>
            </li>
            <li><a href="#">Poonam Agarwal</a>
            </li>
            <li><a href="#">Smita Srivastava</a>
            </li>
            <li><a href="#">Ajay Kanwal</a>
            </li>
            <li><a href="#">Sunil Deore</a>
            </li>
            <li><a href="#">Farhad Hussain</a>
            </li>
            <li><a href="#">Prabhakar Alok</a>
            </li>
            <li><a href="#">Sohan Jakhar</a>
            </li>
            <li><a href="#">Arun Pandit</a>
            </li>
            <li><a href="#">Urvi Vakharia</a>
            </li>
            <li><a href="#">Gaurav Bose</a>
            </li>
        </ul><ul class="lineul">
    <li><a href="#">Shrikant W Kolhe</a>
    </li>
    <li><a href="#">Dinesh Gain</a>
    </li>
    <li><a href="#">Padmanabh Bendre</a>
    </li>
    <li><a href="#">Shruti Gupta Chandra</a>
    </li>
    <li><a href="#">Krishen Khanna</a>
    </li>
    <li><a href="#">Shruti Mestry</a>
    </li>
    <li><a href="#">Dr Rakesh Singh</a>
    </li>
    <li><a href="#">Paramesh Paul</a>
    </li>
    <li><a href="#">Shruti Jhaveri</a>
    </li>
    <li><a href="#">Sidharth</a>
    </li>
    <li><a href="#">Sukhjeet Singh Kukkal</a>
    </li>
    <li><a href="#">Drishti Vohra</a>
    </li>
    <li><a href="#">Poonam Agarwal</a>
    </li>
    <li><a href="#">Smita Srivastava</a>
    </li>
    <li><a href="#">Ajay Kanwal</a>
    </li>
    <li><a href="#">Sunil Deore</a>
    </li>
    <li><a href="#">Farhad Hussain</a>
    </li>
    <li><a href="#">Prabhakar Alok</a>
    </li>
    <li><a href="#">Sohan Jakhar</a>
    </li>
    <li><a href="#">Arun Pandit</a>
    </li>
    <li><a href="#">Urvi Vakharia</a>
    </li>
    <li><a href="#">Gaurav Bose</a>
    </li>
</ul>
        </div>
    </div>
</section>