<div class="artist">
    <div class="border-top"></div>
    <div class="container">
        <div class="row">
            <div class="painting">
                <div class="col-md-5">

                    <ul class="artist-crisp">
                        <li class="">
                            <a href="" class="actives">
                    Paintings
                    </a>
                        </li>
                        <li class="">
                            <a href=""> 
                    Sculptures
                    </a>
                        </li>
                        <li class="">
                            <a href=""> 
                     Photographs
                     </a>
                        </li>
                        <li class="">
                            <a href="">  
                    Prints
                    </a>
                        </li>
                        <li class="">
                            <a href=""> 
                     Others
                     </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <ul class="artist-filter">
                        <li class=""><i class="fa fa-filter"></i></li>
                        <li class=""> FILTER BY</li>

                        <li class="">
                            <a href="">ARTIST</a></li>
                        <li class="">
                            /</li>
                        <li class="">
                            <a href="">PRICE</a>
                        </li>
                        <li class="">
                            /</li>
                        <li class="">
                            <a href=""> SIZE</a>
                        </li>
                        <li class="">
                            /</li>
                        <li class="">
                            <a href=""> MEDIUM</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <a href="">
                        <i class="fa fa-sort-amount-asc"></i> SORT BY
                    </a>
                </div>
                <div class="col-md-12">
                    <nav class="pagination-artist">
                        <ul class="pagination">
                            <li class="actived">
                                <a href="#">
                                    All
                                </a>
                            </li>
                            <li ><a href="#">A</a></li>
                            <li><a href="#">B</a></li>
                            <li><a href="#">C</a></li>
                            <li><a href="#">D</a></li>
                            <li><a href="#">E</a></li>
                            <li><a href="#">F</a></li>
                            <li><a href="#">G</a></li>
                            <li><a href="#">H</a></li>
                            <li><a href="#">I</a></li>
                            <li><a href="#">J</a></li>
                            <li><a href="#">K</a></li>
                            <li><a href="#">L</a></li>
                            <li><a href="#">M</a></li>
                            <li><a href="#">N</a></li>
                            <li><a href="#">O</a></li>
                            <li><a href="#">P</a></li>
                            <li><a href="#">R</a></li>
                            <li><a href="#">S</a></li>
                            <li><a href="#">T</a></li>
                            <li><a href="#">U</a></li>
                            <li><a href="#">V</a></li>
                            <li><a href="#">W</a></li>
                            <li><a href="#">X</a></li>
                            <li><a href="#">Y</a></li>
                            <li><a href="#">Z</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6" ng-repeat="artistimages in artistimage">
                <div class="aristimg-grp1">
                    <div class="image-holder" fixit>
                        <img class="fix-img" ng-src='{{artistimages.image}}'>
                    </div>
                    <h4 class="text-center">
                   {{artistimages.name}}
               </h4>
                </div>
            </div>
        </div>
        <div class="nav-page">
            <nav  class="pagination-artist">
  <ul class="pagination">
    <li class="actived">
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">Prev</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li class="actived">
      <a href="#" aria-label="Next">
        <span aria-hidden="true">Next</span>
      </a>
    </li>
  </ul>
</nav>
        </div>
    </div>
</div>
