<div class="border-top"></div>
<div class="artist-detail">
    <div class="container">
        <div class="cont-artist">
            <h4 class="head-team margin-no">{{artistdetail.name}}
              <a class="readmore" ng-init="status.open = false;" ng-click="status.open = !status.open">View Profile</a>
              <a class="readmore" ui-sref="editartist({id:artistid})" ng-show="status.open">Edit</a>
            </h4>
            <accordion>
                <accordion-group is-open="status.open">
                    <div class="row">
                        <div class="col-md-6">
                            <p><span class="bold" ng-if="artistdetail.dob && artistdetail.dob!=''">Born </span> <span class="bold" ng-if="artistdetail.dob && artistdetail.dob!=''">in </span> {{artistdetail.dob}} <span class="bold" ng-if="artistdetail.stateofb && artistdetail.stateofb!=''">at</span> {{artistdetail.stateofb}}</p>
                            <p ng-if="artistdetail.passedaway && artistdetail.passedaway!=''"><span class="bold">Passed away</span>
                            </p>
                            <p ng-if="artistdetail.edu">
                                <span class="bold">Education</span>
                                <span ng-repeat="edu in artistdetail.edu">
                                <br>{{edu.year}}, {{edu.quali}}, {{edu.institu}}, {{edu.city}}
                                </span>
                                <!--<br>2008, Master of Fine Arts, Jamia Milia Islamia University, New Delhi-->
                            </p>
                            <p ng-if="artistdetail.award">
                                <span class="bold">Awards / Recognitions / Honors </span>
                                <span ng-repeat="awards in artistdetail.award">
                                <br>{{awards.year}}, {{awards.title}}, {{awards.institution}}
                                </span>
                                <!--
                                <br>2006, H R D National Scholarship
<br>2006, H R D National Scholarship
-->
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p ng-if="artistdetail.auction">
                                <span class="bold">Auctions</span>
                                <span ng-repeat="auction in artistdetail.auction">
                                <br>{{auction.year}}, {{auction.auctionhouse}}, {{auction.location}}
                                </span>
                                <!--
                                <br>2011, High Street Phoenix, Aura Art, Lower Parel, Mumbai
                                <br>2011, High Street Phoenix, Aura Art, Lower Parel, Mumbai
-->
                            </p>
                            <p ng-if="artistdetail.soloshow">
                                <span class="bold">Solo Shows</span>
                                <span ng-repeat="solo in artistdetail.soloshow">
                                <br>{{solo.year}}, {{solo.title}}, {{solo.gallery}}, {{solo.venue}}
                                </span>
                                <!--
                                <br>2011, High Street Phoenix, Aura Art, Lower Parel, Mumbai
                                <br>2011, High Street Phoenix, Aura Art, Lower Parel, Mumbai
-->
                            </p>
                            <p ng-if="artistdetail.groupshow">
                                <span class="bold">Group Shows</span>
                                <span ng-repeat="group in artistdetail.groupshow">
                                <br>{{group.year}}, {{group.title}}, {{group.gallery}}, {{group.venue}}
                                </span>
                                <!--
                                <br>2012, United Art Fair, Pragati Maidan, New Delhi
                                <br>2013, The Aura Art Show 2013, Aura Art, Jehangir Art Gallery, Mumbai
-->
                            </p>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6" ng-repeat="artistdetails in artistdetail.artwork">
                <div class="artist-details">
                    <a ng-click="goToDetail(artistdetails);">
                        <div class="image-holders" fixit>
                            <img class="fix-img" ng-src='{{artistdetails.image[0]|uploadthumbnail}}'>
                        </div>
                    </a>
                    <div class="artist-cont-detail">
                        <p>
                            <!-- <span ng-if="artistdetails.srno && artistdetails.srno!=''">
                                    {{artistdetails.srno}}
                                </span>
                            <span ng-if="!artistdetails.srno || artistdetails.srno==''">
                                    N/A
                                </span> -->
                            <span ng-if="artistdetails.imageno && artistdetails.imageno.length>0">
                                    {{artistdetails.imageno[0]}}
                                </span>
                            <span ng-if="!artistdetails.imageno || artistdetails.imageno.length==0">
                                    N/A
                                </span>
                            <i class="{{artistdetails.heartClass = (artistdetails._id | showheart)}}" ng-click="addToFav(artistdetails);"></i>
                            <i class="fa fa-shopping-cart" ng-click="addToCart(artistdetails);"></i>
                        </p>
                        <p>
                            <span ng-if="artistdetails.name && artistdetails.name!=''">
                                    {{artistdetails.name}}
                                </span>
                            <span ng-if="!artistdetails.name || artistdetails.name==''">
                                    N/A
                                </span>
                        </p>
                        <p>
                            <span ng-if="artistdetails.subtype.length>0 && artistdetails.subtype[0].name!=''">
                                    {{artistdetails.subtype[0].name}}
                                </span>
                            <span ng-if="!artistdetails.subtype || artistdetails.subtype.length==0">
                                    N/A
                                </span>
                        </p>
                        <p>
                            <!-- {{artistdetails|makesizestr}} -->
                            {{artistdetails.dim}} inches
                        </p>
                        <p>
                            <span ng-if="artistdetails.yoc && artistdetails.yoc!=''">
                                    {{artistdetails.yoc}}
                                </span>
                            <span ng-if="!artistdetails.yoc || artistdetails.yoc==''">
                                    N/A
                                </span>
                        </p>
                        <p>
                            <span ng-if="artistdetails.gprice && artistdetails.gprice!='N/A'">
                                    Rs {{artistdetails.gprice|number:0}} / ${{artistdetails.gprice|indollars}}
                                </span>
                            <span ng-if="!artistdetails.gprice || artistdetails.gprice=='N/A'">
                                    N/A
                                </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
