<div class="artist">
    <div class="border-top"></div>
    <div class="container">
        <div class="row">
            <div class="painting">
                <div class="col-md-12">
                    <h4 class="head-team">Artist Index</h4>
                </div>
                <div class="col-md-5">
                    <ul class="artist-crisp">
                        <li class="" ng-click="makeactive(type.name);" ng-repeat="type in typejson">
                            <a href="" class="{{type.class}}">{{type.name}}
                                <hr class="hover-see">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-md-offset-3">
                    <div class="search-form">
                        <input type="search" class="form-control" placeholder="Search Artist" ng-model="pagedata.searchname" ng-keypress="$event.which === 13 && getartistbysearch();">
                        <span class="search-line">
                            <button class="btn-line" type="submit" ng-click="getartistbysearch();">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-12">
                    <nav class="pagination-artist">
                        <ul class="pagination">
                            <li class="{{alphabet.class}}" ng-repeat="alphabet in alphabetjson">
                                <a ng-click="getartistbyletter(alphabet.name);">
                                    {{alphabet.name}}
                                </a>
                            </li>
                        </ul>
                        <label class="grid-view">
                            <select ng-model="tab">
                                <option value="grid">Grid View</option>
                                <option value="list">List View</option>
                            </select>
                        </label>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row" infinite-scroll='addMoreItems();' infinite-scroll-distance="0" infinite-scroll-disabled="shouldscroll">
            <div class="col-md-2 col-sm-3" ng-repeat="artistimages in artistimage | orderBy : 'name'" ng-if="tab=='grid'">
                <div class="aristimg-grp1">
                    <h4 class="text-center">
                   {{artistimages.name}}
               </h4>
                    <a href="#/artist/detail/{{artistimages._id}}">
                        <div class="image-holder" fixit>
                            <img class="fix-img" ng-src='{{artistimages.artwork[0].image[0]|uploadthumbnail}}'>
                        </div>
                    </a>
                    <div class="hover-look">
                        <button type="submit" class="btn btn-sucesses button-small text-center" ng-click="showDetail(artistimages);">Quick View</button>
                        <a type="submit" class="btn btn-sucesses button-small text-center" href="#/artist/detail/{{artistimages._id}}">All Works</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="holder1" ng-if="tab=='list'">
            <div class="ulblock" infinite-scroll='addMoreItems();' infinite-scroll-distance="0" infinite-scroll-disabled="shouldscroll">
                <ul class="lineul" ng-repeat="list in listview">
                    <li ng-repeat="artistimages in list | orderBy : 'name'"><a href="#/artist/detail/{{artistimages._id}}">{{artistimages.name}}
                </li>
                </ul>  
            </div>
        </div>
</div>