<div class="border-top"></div>
<div class="cart">
    <div class="container">
        <div class="table-cart">
            <table class="table table-hover cart-table">
                <thead>
                    <tr>
                        <th>Product Image</th>
                        <th>Product id</th>
                        <th>Artist Name</th>
                        <th>Product Name</th>
                        <th>Unit Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cart-details">
                        <td class="cart-img">
                            <span class="mobile">Product Image</span>
                            <img src="img/artist/artist2.jpg" class="img-box">
                        </td>
                        <td>
                            <span class="mobile">Product Id</span> 11
                        </td>
                        <td>
                            <span class="mobile">Artist Name</span> Untitled
                        </td>
                        <td>
                            <span class="mobile">Product Name</span> Untitled
                        </td>
                        <td>
                            <span class="mobile">Unit Price</span> Rs 5000000
                        </td>
                        <td>
                            <span class="mobile">Action</span>
                            <i class="fa fa-trash-o"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-box">
            <h4>Discount Code</h4>
            <div class="checkout row">
                <div class="col-md-4">
                    <input type="text" placeholder="Enter your coupon code" class="discountcoupon form-control newsletteremail">
                </div>
                <div class="col-md-4">
                    <a class="btn btn-sucesses valid">Apply Coupon</a>
                </div>
                <div class="col-md-4">
                    <a href="#/checkout" class="btn btn-cont pull-right">Proceed to checkout</a>
                </div>
            </div>
            <div class="checkout row">
                <div class="col-md-offset-8 col-md-4">
                    <table class="table table-bordered ">
                        <tbody>
                            <tr>
                                <th>Sub Total</th>
                                <th>Discount</th>
                                <th>Grand Total</th>
                            </tr>
                            <tr>
                                <td class="ng-binding">Rs 12500.00</td>
                                <td class="ng-binding">Rs 0.00</td>
                                <td class="ng-binding">Rs 12500.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
