<div class="border-top"></div>
<div class="cart">
    <div class="container">
        <div class="table-cart">
            <table class="table table-hover cart-table">
                <thead>
                    <tr>
                        <th>Product Image</th>
                        <th>Product Name</th>
                        <th>Unit Price</th>
                        <th>Quantity</th>
                        <th>Sub Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cart-details">
                        <td class="cart-img">
                            <span class="mobile">Product Image</span>
                            <img src="img/artist/artist2.jpg" class="img-responsive">
                        </td>
                        <td>
                            <span class="mobile">Product Name</span> Untitled
                        </td>
                        <td>
                            <span class="mobile">Unit Price</span> Rs 5000000
                        </td>
                        <td>
                            <span class="mobile">Quantity</span>
                            <a class="btn btn-default carticon minus">-</a>
                            <span class="cart-qnt">2</span>
                            <a class="btn btn-default carticon plus">+</a>
                        </td>
                        <td>
                            <span class="mobile">Sub Total</span> Rs 12500.00
                        </td>
                        <td>
                            <span class="mobile">Action</span>
                            <i class="fa fa-trash-o"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="">
            <h4>Discount Code</h4>
            <input type="text" placeholder="Enter your coupon code" class="discountcoupon form-control newsletteremail" style="margin-right:5px;">
            <a class="btn btn-primary valid">Apply Coupon</a>
            <a class="btn btn-primary pull-right">Proceed to checkout</a>
        </div>
        <div class="checkout row">
            <div class="col-md-offset-8 col-md-4">
                <table class="table table-bordered ">
                    <tbody>
                        <tr>
                            <th>Sub Total</th>
                            <th>Discount</th>
                            <th>Grand Total</th>
                        </tr>
                        <tr>
                            <td class="ng-binding">Rs 12500.00</td>
                            <td class="ng-binding">Rs 0.00</td>
                            <td class="ng-binding">Rs 12500.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
