<div class="border-top"></div>
<div class="cart">
    <div class="container">
        <h4 class="head-team">Shopping Cart</h4>
        <div class="text-center" ng-show="noCartItems">
            <p>No artworks in your cart.</p>
            <a href="#/artwork/All" class="btn btn-sucesses">Shop Now</a>
        </div>
        <div class="table-cart" ng-hide="noCartItems">
            <table class="table table-hover cart-table">
                <thead>
                    <tr>
                        <th>Artwork Image</th>
                        <th>Artwork No</th>
                        <th>Artist Name</th>
                        <th>Title</th>
                        <th>Size</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cart-details" ng-repeat="artwork in cartItems | orderBy : 'artwork.srno'">
                        <td class="cart-img">
                            <img ng-src="{{artwork.artwork.image[0] | uploadthumbnail}}" class="img-box">
                        </td>
                        <td>
                            <span class="mobile">Product Id</span> {{artwork.artwork.srno}}
                        </td>
                        <td>
                            <span class="mobile">Artist Name</span> {{artwork.name}}
                        </td>
                        <td>
                            <span class="mobile">Title</span> {{artwork.artwork.name}}
                        </td>
                        <td>
                            <span class="mobile">Size</span> {{artwork.artwork.gprice|number:0}}
                        </td>
                        <td>
                            <span class="mobile">Price</span> Rs.{{artwork.artwork.gprice|number:0}} / ${{artwork.artwork.gprice|indollars}}
                        </td>

                        <td>
                            <span class="mobile">Action</span>
                            <i class="fa fa-trash-o" ng-click="removeFromCart(artwork.artwork._id);"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-box" ng-hide="noCartItems">
            <div class="checkout row">
                <div class="col-md-6 col-sm-6">
                  <table class="table table-bordered ">
                      <tbody>
                          <tr>
                              <th>Sub Total</th>
                              <th>VAT</th>
                              <th>Grand Total</th>
                          </tr>
                          <tr>
                              <td class="ng-binding">Rs.{{totalCartPrice | number:0}} / ${{totalCartPrice|indollars}}</td>
                              <td>Rs.0 / $0.00</td>
                              <td class="ng-binding">Rs.{{totalCartPrice | number:0}} / ${{totalCartPrice|indollars}}</td>
                          </tr>
                      </tbody>
                  </table>
                </div>
                <div class="col-md-offset-2 col-md-4 col-sm-4 ">
                    <a ui-sref="checkout" class="btn btn-cont pull-right btn-mobile">Proceed to checkout</a>
                </div>
            </div>
        </div>
    </div>
