<div class="drop-cart">
    <!-- ngRepeat: cat in cart -->
    <ul class="img-namess">
        <li>
            <img src="img/painting1.jpg">
        </li>
        <li class="">
            <h4>Painting</h4>
        </li>
        <li class="">
            <p>Artist:<span>nagubabu</span>
            </p>
        </li>
        <li class="">
            <p>Price:<span>10990</span>
            </p>
        </li>
    </ul>
    <!-- end ngRepeat: cat in cart -->
    <div class="link-cart">
        <a href="#">View Cart</a>
    </div>
</div>