<div class="container">
    <div class="making">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Billing Information</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-inline">
                            <form valdr-type="Person" class="form-group">
                                <label for="firstName">First Name</label>
                                <input class="form-control" type="text" id="firstName" name="firstName" ng-model="person.firstName">
                                <span class="valdr" valdr-message="firstName"></span>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text" placeholder="Billing">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>