<div class="border-top"></div>
<section class="favorites cart">
  <div class="container">
    <div class="media min-cont">
      <h4 class="head-team">Contact us</h4>

      <div class="row">
        <div class="col-md-4">
          <p>
            <span class="bold">Rishiraj S Sethi</span>
            <br>
            <a href="tel:+919820345740">+91 98203 45740</a>
            <br>
            <a href="mailto:rishiraj@auraart.in">rishiraj@auraart.in</a>
          </p>

          <p>
            <span class="bold">Harmeet S Sethi</span>
            <br>
            <a href="tel:+919328877000">+91 93288 77000</a>
            <br>
            <a href="mailto:harmeet@auraart.in">harmeet@auraart.in</a>
          </p>
          <p>
            <span class="bold">Daljit S Sethi</span>
            <br>
            <a href="tel:+919820351667">+91 98203 51667</a>
          </p>
        </div>
        <div class="col-md-4">
          <p>
            <span class="bold">Office (Mumbai)</span>
            <br>126, TV Industrial Estate
            <br>SK Ahire Marg, Worli
            <br>Mumbai - 400 030
            <br>Tel:
            <a href="tel:+9124912325">+91 2491 2325</a>
          </p>
          <p>
            <span class="bold">Office</span>
            <br>633, Fortune Tower
            <br>Sayajigunj
            <br>Vadodara - 390 005
          </p>
          <p>
            <span class="bold">Registered Office</span>
            <br>Mangal Prabhat, 7th Floor
            <br>Gulmohar Cross Road No 7
            <br>Vile Parle (W)
            <br>Mumbai - 400 049
          </p>
        </div>
        <div class="col-md-4">
          <p>
            <span class="bold pointer" ng-click="reachOut();"><i class="fa fa-phone"></i> Purchase</span>
            <br>
            <a href="mailto:connect@auraart.in">connect@auraart.in</a>
          </p>
          <p>
            <span class="bold pointer" ng-click="becomeSeller();"><i class="fa fa-upload"></i> Artist to submit artworks</span>
            <br>
            <a href="mailto:artistsubmit@auraart.in">artistsubmit@auraart.in</a>
          </p>
          <p>
            <span class="bold pointer" ng-click="becomeSeller();"><i class="fa fa-upload"></i> Collectors / Galleries to submit artworks</span>
            <br>
            <a href="mailto:resellersubmit@auraart.in">resellersubmit@auraart.in</a>
          </p>
          <p>
            <span class="bold pointer" ng-click="reachOut();"><i class="fa fa-phone"></i> The Art Enclave related submissions</span>
            <br>
            <a href="mailto:theartenclave@auraart.in">theartenclave@auraart.in</a>
          </p>
        </div>
      </div>


<div class="row">
  <div class="col-md-6">
    <div class="contact-form">
      <h4 class="">Send Us Query</h4>
      <form ng-submit="">
        <div class="chngpswd-cont paddtop info">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6"><div class="input-id">
                <input class="form-control" placeholder="Name" type="text" ng-model="query.name">
              </div>
              <div class="input-id">
                <input class="form-control" placeholder="Phone No" type="tel" ng-model="query.phone">
              </div>
              <div class="input-id">
                <input class="form-control" placeholder="Email ID*" required type="email" ng-model="query.email">
              </div>
            </div>
              <div class="col-md-6">
                <div class="input-id">
                  <textarea class="form-control" placeholder="Observations &amp; Queries*" ng-model="query.comment" style="height: 122px;"></textarea>
                </div>
              </div>
            </div>
            <button class="btn btn-sucesses" type="submit">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


    </div>
  </div>
</div>
</section>
