<div class="border-top"></div>
<section class="favorites cart">
    <div class="container">
        <div class="media">
        <h4 class="head-team">Contact us</h4>
            <div class="row">
               <div class="col-md-6">
                <div class="col-md-6 col-sm-6">
                    <div class="white-line">
                        <p><span class="bold">Daljit S Sethi</span>
                            <br>
                            <a href="tel:+919820351667">+91 98203 51667</a>
                        </p>
                        <p><span class="bold">Harmeet S Sethi</span>
                            <br>
                            <a href="tel:+919328877000">+91 93288 77000</a>
                            <br>
                            <a href="mailto:harmeet@auraart.in">harmeet@auraart.in</a>
                            <br>
                            <a href="mailto:harmeetssethi@gmail.com">harmeetssethi@gmail.com</a>
                        </p>
                        <p><span class="bold">Rishiraj S Sethi</span>
                            <br>
                            <a href="tel:+919820345740">+91 98203 45740</a>
                            <br>
                            <a href="mailto:rishiraj@auraart.in">rishiraj@auraart.in</a>
                            <br>
                            <a href="mailto:rishirajssethi@gmail.com">rishirajssethi@gmail.com</a>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <p><span class="bold">Office (Mumbai)</span>
                                <br>A-117, 1st floor, Vinay Bhavya
                                <br>159, CST Road, Kalina
                                <br>Santacruz (East)
                                <br>Mumbai - 400 098
                                <br>Tel: +91 22 2652 4557
                            </p>
                            <p><span class="bold">Office (Vadodara)</span>
                                <br>633, Fortune Tower
                                <br>Sayajigunj
                                <br>Vadodara - 390 005
                            </p>
  <p><span class="bold">Registered Office</span>
                                <br>Mangal Prabhat, 7th Floor
                                <br>Gulmohar Cross Road No 7
                                <br>Vile Parle (W)
                                <br>Mumbai - 400 049
                            </p>
                        </div>

                        <div class="col-md-6  col-sm-6">
                          
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-md-6">
                    <div class="contact-form">
                            <h3 class="">contact us</h3>
                            <div class="chngpswd-cont paddtop info">
                    <div class="form-group">
                        <div class="input-id">
                            <input type="text" class="form-control" placeholder="Name" required>
                        </div>
                        <div class="input-id">
                            <input type="phoneno" class="form-control" placeholder="Phone No">
                        </div>
                         <div class="input-id">
                            <input type="emalid" class="form-control" placeholder="Email ID" required>
                        </div>
<!--
                        <div class="input-id">
                            <input type="text" class="form-control" placeholder="Last Name">
                        </div>
-->
                        <div class="input-id">
                            <textarea class="form-control" rows="5" id="comment" placeholder="Observations & Queries"></textarea>
                        </div>
                       
                        
<!--
                        <div class="input-id">
                            <label class="radio-inline">
                                <input type="radio" name="optradio" value="0">Male</label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio" value="1">Female</label>
                        </div>
-->
                        <a class="btn btn-sucesses" >send</a>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
<!--
                    <div class="row">
                <div class="col-md-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.8242229805614!2d72.86556709999999!3d19.071464499999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8efc573d2b3%3A0x78e641ab0c4d1e35!2sVinay+Bhavya+Complex%2C+CST+Road%2C+MMRDA+Area%2C+Kalina%2C+Bandra+East%2C+Mumbai%2C+Maharashtra+400098!5e0!3m2!1sen!2sin!4v1439046524887" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
        </div>
-->
    </div>
</section>