<div class="image-detail">
    <div class="border-top"></div>
    <div class="container">
        <div class="row" ng-repeat="artistDetailImgs in artistDetailImg">
            <div class="breadcrums">
                <div class="col-md-12">
                    <p>Head / Painting </p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="img-imagedetail" fixit>
                    <img class="fix-img" ng-src='{{artistDetailImgs.image}}'>
                </div>
            </div>
            <div class="col-md-3">
                <div class="cont-imagedetail">
                    <div class="artist-cont-detail">
                        <div class="painting-details">
                             <p>
                                {{artistDetailImgs.id}}
                                 <i class="fa fa-heart"></i>
                            </p>
                            <p>
                             <span class="labels">Artist: </span>{{artistDetailImgs.artistname}}</p>
                            <p>
                                 <span class="labels">Title: </span>{{artistDetailImgs.title}}
                            </p>
                            <p>
                               <span class="labels">Medium: </span> {{artistDetailImgs.typename }}
                            </p>
                        </div>
                        <div class="painting-details">
                            <p>
                                <span class="labels">Price: </span> {{artistDetailImgs.price}}
                            </p>
                            <p>
                                <span class="labels">SIZE: </span> {{artistDetailImgs.size}} inches
                            </p>
                            <p>
                                <span class="labels">Year: </span> {{artistDetailImgs.year}}
                            </p>
                        </div>
                    </div>
                    <button type="button" class="btn btn-block">
                        VIEW ARTWORK IN YOUR ROOM
                    </button>
                    <button type="button" class="btn btn-primarys btn-block">
                        ADD TO CART
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="this-artist">
        <div class="container">
            <div class="col-md-12">
                <h4 class="bold">MORE WORKS BY THIS ARTIST <a href="#" class="link-viewall">VIEW ALL</a></h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3" ng-repeat="aristimages in aristImages">
                        <div class="aristimg-grp1">
                            <div class="image-holder" fixit>
                                <img class="fix-img" ng-src='{{aristimages.image}}'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
