<div class="image-detail">
    <div class="border-top"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrums">
                    <p>Home / Painting</p>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-8">
                <div class="aboveimage">
                    <a class="light-make light-shade" fancybox-box href="{{imageSrc}}">Enlarge<i class="fa fa-arrows-alt"></i>
                    </a>
                    <div style="position:relative;" image-zoom data-template-url="views/content/image-zoom.html">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cont-imagedetail">
                    <div class="artist-cont-detail">
                        <div class="painting-details">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>{{artistDetailImg.id}}
                                            <i class="fa fa-heart"></i>
                                        </td>
                                    </tr>
                                    <tr class="font-color3">
                                        <td class="labels">Artist:</td>
                                        <td>{{artistDetailImg.artistname}}</td>
                                    </tr>
                                    <tr>
                                        <td class="labels">Title:</td>
                                        <td>{{artistDetailImg.title}}</td>
                                    </tr>
                                    <tr>
                                        <td class="labels">Medium:</td>
                                        <td>{{artistDetailImg.typename }}</td>
                                    </tr>
                                    <tr>
                                        <td class="labels">Size:</td>
                                        <td>{{artistDetailImg.size}}</td>
                                    </tr>
                                    <tr>
                                        <td class="labels">Year:</td>
                                        <td>{{artistDetailImg.year }}</td>
                                    </tr>
                                    <tr>
                                        <td class="labels">Price:</td>
                                        <td>{{artistDetailImg.price}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button type="button" class="btn btn-block uppercase">
                        VIEW ARTWORK IN YOUR ROOM
                    </button>
                    <a href="#/cart" type="button" class="btn btn-primarys btn-block uppercase">
                        ADD TO CART
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="style1-bg margin-btm-top">
        <div class="container">
            <div class="padding-more">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="head-more">MORE WORKS BY THIS ARTIST <a href="#" class="link-viewall">VIEW ALL</a></h4>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-2 col-sm-4" ng-repeat="aristimages in aristImages">
                            <div class="aristimg-grp1">
                                <a href="#">
                                    <div class="image-holder" fixit>
                                        <img class="fix-img" ng-src='{{aristimages.image}}'>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
