<div class="image-detail">
    <div class="border-top"></div>
    <div class="container">
        <div class="row" ng-repeat="artistDetailImgs in artistDetailImg">
            <div class="breadcrums">
                <div class="col-md-12">
                    <p>Head / Painting </p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="img-imagedetail" fixit>
                    <img class="fix-img" ng-src='{{artistDetailImgs.image}}'>
                </div>
            </div>
            <div class="col-md-3">
                <div class="cont-imagedetail">
                    <div class="artist-cont-detail">
                        <div class="painting-details">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td> {{artistDetailImgs.id}}
                                            <i class="fa fa-heart"></i></td>
                                    </tr>
                                    <tr>
                                        <td>Artist:</td>
                                        <td>{{artistDetailImgs.artistname}}</td>
                                    </tr>
                                    <tr>
                                        <td>Title:</td>
                                        <td>{{artistDetailImgs.title}}</td>
                                    </tr>
                                    <tr>
                                        <td>Medium: </td>
                                        <td>{{artistDetailImgs.typename }}</td>
                                    </tr>
                                    <tr>
                                        <td>Price: </td>
                                        <td>{{artistDetailImgs.price}}</td>
                                    </tr>
                                    <tr>
                                        <td>Size:</td>
                                        <td>{{artistDetailImgs.size}}</td>
                                    </tr>
                                    <tr>
                                        <td>Year: </td>
                                        <td>{{artistDetailImgs.year }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <button type="button" class="btn btn-block">
                        VIEW ARTWORK IN YOUR ROOM
                    </button>
                    <button type="button" class="btn btn-primarys btn-block">
                        ADD TO CART
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="style1-bg margin-btm-top">
        <div class="container">
            <div class="padding-more">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="bold">MORE WORKS BY THIS ARTIST <a href="#" class="link-viewall">VIEW ALL</a></h4>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-2 col-sm-4" ng-repeat="aristimages in aristImages">
                            <div class="aristimg-grp1">
                                <div class="image-holder" fixit>
                                    <img class="fix-img" ng-src='{{aristimages.image}}'>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
