<div class="border-top"></div>
<div class="container event-set">


    <div class="row">
        <div class="col-md-3">
            <h3 class="font-color3 home-header padtop">Upcoming Events</h3>
            <a href="#/eventdetail">
                <div class="event-img">
                    <img src="img/event.jpg" class="img-responsive">
                </div>
            </a>
        </div>
        <div class="col-md-9">
            <div class="event">
                <h5 class="font-color3">Inviting participation for The Art Enclave at UBM Index Fairs 2015</h5>
                <p>Oct 15, 2015 - Oct 18, 2015</p>
                <p>10.30 am to 7.00 pm </p>
                <p>MMRDA Exhibition Centre, BKC, Mumbai</p>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="all-events search-box">
            <accordion close-others="true">
                <accordion-group heading="Past Events - 2015">
                    <div class="row">
                        <div class="col-md-3" ng-repeat="event in event2015">
                            <div class="event-detail ">
                                <div class="data">
                                    <h6 class="font-color2">{{event.name}}</h6>
                                    <p>{{event.detail}}</p>
                                </div>
                                <a href="#/eventdetail">
                                    <div class="event-img text-center">
                                        <figure>
                                            <img ng-src="{{event.img}}" class="img-responsive">
                                        </figure>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </accordion-group>
                <accordion-group heading="Past Events - 2014">
                    <div class="row">
                        <div class="col-md-3" ng-repeat="event in event2014">
                            <div class="event-detail ">
                                <div class="data">
                                    <h6 class="font-color2">{{event.name}}</h6>
                                    <p>{{event.detail}}</p>
                                </div>
                                <div class="event-img text-center">
                                    <figure>
                                        <img ng-src="{{event.img}}" class="img-responsive">
                                    </figure>
                                </div>

                            </div>
                        </div>

                    </div>
                </accordion-group>
                <accordion-group heading="Past Events - 2013">
                    <div class="row">
                        <div class="col-md-3" ng-repeat="event in event2013">
                            <div class="event-detail ">
                                <div class="data">
                                    <h6 class="font-color2">{{event.name}}</h6>
                                    <p>{{event.detail}}</p>
                                </div>
                                <div class="event-img text-center">
                                    <figure>
                                        <img ng-src="{{event.img}}" class="img-responsive">
                                    </figure>
                                </div>

                            </div>
                        </div>

                    </div>
                </accordion-group>
                <accordion-group heading="Past Events - 2012">
                    Medium
                </accordion-group>
            </accordion>
        </div>
    </div>
</div>