<div class="container event-set">
    <div class="up-event">
        <h5 class="font-color3">Upcoming Events</h5>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="event-img">
                <img src="img/event.jpg" class="img-responsive">
            </div>
        </div>
        <div class="col-md-8">
            <div class="event">
                <h5 class="font-color3">Inviting participation for The Art Enclave at UBM Index Fairs 2015</h5>
                <p>Oct 15, 2015 - Oct 18, 2015</p>
                <p>10.30 am to 7.00 pm </p>
                <p>MMRDA Exhibition Centre, BKC, Mumbai</p>
            </div>
        </div>
       
    </div>
    <div class="row">
        <div class="all-events">
      <accordion-group is-open="status.open">
        <accordion-heading>
            I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        This is just some content to illustrate fancy headings.
    </accordion-group>
  </accordion>
        </div>
    </div>
</div>