<div class="border-top"></div>
        <div class="container event-set">

       
    <div class="row">
        <div class="col-md-3 text-center">
            <h3 class="font-color3 home-header">Upcoming Events</h3>
            <div class="event-img">
                <img src="img/event.jpg" class="img-responsive">
            </div>
        </div>
        <div class="col-md-9">
            <div class="event">
                <h5 class="font-color3">Inviting participation for The Art Enclave at UBM Index Fairs 2015</h5>
                <p>Oct 15, 2015 - Oct 18, 2015</p>
                <p>10.30 am to 7.00 pm </p>
                <p>MMRDA Exhibition Centre, BKC, Mumbai</p>
            </div>
        </div>
       
    </div>
    <div class="row">
        <div class="all-events search-box">
          <accordion close-others="true">
                    <accordion-group heading="Past Events - 2015">
                        <ui-select multiple ng-model="multipleDemo.artist" theme="select2" ng-disabled="disabled" style="width: 300px;">
                          
                        </ui-select>
                    </accordion-group>
                    <accordion-group heading="Past Events - 2014">
                        Price
                    </accordion-group>
                    <accordion-group heading="Past Events - 2013">
                        Size
                    </accordion-group>
                    <accordion-group heading="Past Events - 2012">
                        Medium
                    </accordion-group>
                </accordion>
        </div>
    </div>
</div>