<div class="border-top"></div>
<section class="favorites cart">
    <div class="container">
        <h4 class="head-team">My Favorites</h4>
        <div class="info fav">
            <div class="row">
                <div class="col-xs-12">
                    <div class="btn-right">
                        <button type="submit" class="btn pull-right">Create favorites</button>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="info-cont pull-right">
                        <ul class="info-li">
                            <li class="cat-list cpointer bolds">My Favorites <span>(4)</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="col-md-3 col-sm-6" ng-repeat="artistdetails in artistdetail">
                        <div class="artist-details">
                            <div class="fav-holder" fixit>
                                <img class="fix-img" ng-src='{{artistdetails.image}}'>
                            </div>
                            <div class="artist-cont-detail-fav">
                                <p>
                                    <span class="labels">Size:</span>{{artistdetails.id}}
                                </p>
                                <p>
                                    <span class="labels">Name:</span> {{artistdetails.typename}}
                                </p>
                                <p>
                                    <span class="labels">Medium:</span> {{artistdetails.madein}}
                                </p>
                                <p>
                                    <span class="labels">Size:</span> {{artistdetails.size}} (inches)
                                </p>
                                <p>
                                    <span class="labels">Year:</span> {{artistdetails.year}}
                                </p>
                                <p>
                                    <span class="labels">Price:</span> {{artistdetails.price}} &#8377;
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
