<div class="filter">
    <div class="row">
        <div class="col-md-3">
            <h4>Artist</h4>
            <input type="text" class="form-control" placeholder="Artist Name" ng-model="pagedata.search">
        </div>
        <div class="col-md-3">
            <div class="mega-cont">
                <h4>Price</h4>
                <div range-slider min="minPrice" max="maxPrice" model-min="pagedata.minprice" model-max="pagedata.maxprice" step="5"></div>
                <input type="number" placeholder="0" class="maxmin" ng-model="pagedata.minprice">
                <input type="number" placeholder="100000" class="maxmin pull-right" ng-model="pagedata.maxprice">
            </div>
        </div>
        <div class="col-md-3">
            <div class="mega-cont">
                <h4>Size</h4>
                <div class="min-max">
                    <h5>Height</h5>
                    <input type="number" placeholder="min-height" class="maxmin">
                    <input type="number" placeholder="max-height" class="maxmin pull-right">
                    <h5>Width</h5>
                    <input type="number" placeholder="min-width" class="maxmin">
                    <input type="number" placeholder="max-width" class="maxmin pull-right">
                    <h5>Depth</h5>
                    <input type="number" placeholder="min-Depth" class="maxmin">
                    <input type="number" placeholder="max-Depth" class="maxmin pull-right">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mega-cont">
                <h4>Medium</h4>
                <input type="text" class="form-control" placeholder="Medium">
            </div>
        </div>
        <div class="btn-main pull-right">
            <button class="btn btn-sucesses" ng-click="filterresults(pagedata.search);">Go</button>
        </div>
    </div>
</div>