<div class="container after-nav">
    <div class="row">
        <aside class="col-md-3 search-box nopad-right">
            <div class="absolute-box">
                <div class="accordion-upper">
                    Search
                    <span class="pull-right go-btn">Go <i class="fa fa-angle-right"></i></span>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title right">Search For</h4>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-6">
                                <label>
                                    <input type="checkbox" />Paintings</label>
                                <label>
                                    <input type="checkbox" />Sculptures</label>
                            </div>
                            <div class="col-md-6">
                                <label>
                                    <input type="checkbox" />Photographs</label>
                                <label>
                                    <input type="checkbox" />Prints</label>
                            </div>
                        </div>

                    </div>
                </div>
                <accordion close-others="true">
                    <accordion-group heading="Search By Artist">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Artist Name">
                        </div>
                    </accordion-group>
                    <accordion-group heading="Search By Price">
                        <div range-slider min="minPrice" max="maxPrice" model-min="userMinPrice" model-max="userMaxPrice" step="5"></div>
                        <input type="number" maxlength="1000" placeholder="0" class="maxmin">
                        <input type="number" max="100000" placeholder="1000" class="maxmin pull-right">
                    </accordion-group>
                    <accordion-group heading="Search By Size (inches)">
                        <div class="min-max">
                            <h5>Height</h5>
                            <input type="number" placeholder="min-height" class="maxmin">
                            <input type="number" placeholder="max-height" class="maxmin pull-right">
                            <h5>Width</h5>
                            <input type="number" placeholder="min-width" class="maxmin">
                            <input type="number" placeholder="max-width" class="maxmin pull-right">
                            <h5>Depth</h5>
                            <input type="number" placeholder="min-Depth" class="maxmin">
                            <input type="number" placeholder="max-Depth" class="maxmin pull-right">
                        </div>
                    </accordion-group>
                    <accordion-group heading="Search By Medium">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Medium">
                        </div>
                    </accordion-group>
                </accordion>
                <div class="accordion-upper">
                    <span class="pull-right go-btn">Go <i class="fa fa-angle-right"></i></span>
                </div>
            </div>
        </aside>

        <div class="col-md-9 nopad-left">
            <div class="slider-holder">
                <flex-slider class="carousel" flex-slide="s in slides" animation="fade" animation-loop="true">
                    <li>
                        <img ng-src="{{s}}" alt="" class="img-responsive">
                    </li>
                </flex-slider>
                <!--                <img src="img/slide1.jpg" alt="" class="img-responsive">-->
            </div>
        </div>
    </div>

    <div class="row-flex row-unflex sweet-box">
        <div class="col-flex">
            <div class="black-overlay"></div>
            <img src="img/room.jpg" class="img-responsive"><span class="text-white">View artwork in your room</span>
        </div>
        <div class="col-flex">
            <div class="black-overlay"></div>
            <img src="img/frame.jpg" class="img-responsive"><span class="text-white">Custom framing</span>
        </div>
        <div class="col-flex grey-bg">
            <div class="black-overlay"></div>
            <img src="img/sculpture.jpg" class="img-responsive"><span class="text-white">Commissioned sculptures</span>
        </div>
        <div class="col-flex grey-bg">
            <div class="info-holder">
                <h4>
                    <img src="img/art_enclave.jpg" alt="art_enclave" class="img-responsive">
                </h4>
                <p>An Exclusive Fine Art Section at UBM Index Trade Fairs, Mumbai.</p>
                <a href="#" class="more">Know more...</a>
            </div>
        </div>
        <div class="col-flex grey-bg">
            <div class="info-holder">
                <h4>Thought leadership &amp; developments</h4>
                <p>An Exclusive Fine Art Section at UBM Index Trade Fairs, Mumbai.An Exclusive Fine Art Section at UBM Index Trade Fairs, Mumbai.An Exclusive Fine Art Section at UBM Index Trade Fairs, Mumbai.</p>
                <a href="#/thoughtleadership" class="more">Know more...</a>
            </div>
        </div>
    </div>

    <div class="artwork-box">
        <h3 class="font-color3 home-header">Artworks</h3>
        <div class="row-flex row-unflex">
            <div class="col-flex">
                <img src="img/painting1.jpg" class="img-responsive" alt="painting">
                <span class="text-heading">Paintings</span>
            </div>
            <div class="col-flex">
                <img src="img/sculpture1.jpg" class="img-responsive" alt="sculpture">
                <span class="text-heading">Sculptures</span>
            </div>
            <div class="col-flex">
                <img src="img/photograph1.jpg" class="img-responsive" alt="photographs">
                <span class="text-heading">Photographs</span>
            </div>
            <div class="col-flex">
                <img src="img/print1.jpg" class="img-responsive" alt="prints">
                <span class="text-heading">Prints</span>
            </div>
        </div>
    </div>
</div>



<div class="style2-bg">
    <div class="container">
        <div class="padding-more">
            <h3 class="home-header">Activities</h3>
            <p>After a couple of decades of researching and collecting art, Aura Art was formed in April 2006 by the Core Team (comprising of Daljit Singh Sethi and his sons Harmeet and Rishiraj), to fill the gaps in the Indian Art. Aura Art now boasts of some of the most prominent personalities from all walks of life in its <a class="link-page" href="#/team">Team</a>. The Core Team of Aura Art has established Aura Art Development Pvt Ltd (April 2008) and Aura Art eConnect Pvt Ltd (March 2015) to carry out the following activities, to further its primary objective of promoting Indian Art, keeping the long term interest of all stakeholders in perspective.</p>
            <ul>
                <li>To collect/ identify, through a tedious process of selection, the choicest works (paintings and sculptures) of artists of caliber, both known and unknown.</li>
                <li>To give such chosen works of art the widest possible exposure, so that people at large become sensitive to qualities that distinguish the extraordinary from the ordinary.</li>
                <li>To establish art as an asset class and educate buyers on the opportunities and challenges of wealth creation through art.</li>
                <li>To provide Integrated Art Offerings to Corporates, Realty Developers, Architects and Interior Designers, including commissioned projects.</li>
                <li>To provide Art Infrastructure Services to Collectors, Corporates and others.</li>
            </ul>
        </div>
    </div>
</div>

<div class="container">

    <div class="padding-more">
        <h3 class="home-header font-color3">Art Infrastructure Services</h3>
        <p>In line with its aspiration to migrate to a fully Integrated Art House, Aura Art Development Pvt Ltd is pleased to offer Art Infrastructure Solutions (through provision of services and products, in-house as well as through Partners), to Collectors, Corporates, Galleries and other Institutions, including, inter-alia, assistance with the following activities.</p>

        <div class="row-flex row-unflex pad-flex">
            <div class="col-flex">
                <div class="box-style1">
                    <div class="img-holder">
                        <img src="img/home/artpress/art1.jpg" class="img-responsive" alt="Archival Facility Set-up">
                    </div>
                    <h5>Archival Facility Set-up</h5>
                    <p>Documenting the Collection, photographing and presenting the same online / offline</p>
                    <a href="#" class="more2">Click for more</a>
                </div>
            </div>
            <div class="col-flex">
                <div class="box-style1">
                    <div class="img-holder">
                        <img src="img/home/artpress/art2.jpg" class="img-responsive" alt="demo">
                    </div>
                    <h5>Conservation &amp; Restoration</h5>
                    <p>Documenting the Collection, photographing and presenting the same online / offline</p>
                    <a href="#" class="more2">Click for more</a>
                </div>
            </div>
            <div class="col-flex">
                <div class="box-style1">
                    <div class="img-holder">
                        <img src="img/home/artpress/art3.jpg" class="img-responsive" alt="demo">
                    </div>
                    <h5>Data Management</h5>
                    <p>Documenting the Collection, photographing and presenting the same online / offline</p>
                    <a href="#" class="more2">Click for more</a>
                </div>
            </div>
            <div class="col-flex">
                <div class="box-style1">
                    <div class="img-holder">
                        <img src="img/home/artpress/art4.jpg" class="img-responsive" alt="demo">
                    </div>
                    <h5>Packing &amp; Logistics</h5>
                    <p>Documenting the Collection, photographing and presenting the same online / offline</p>
                    <a href="#" class="more2">Click for more</a>
                </div>
            </div>
            <div class="col-flex">
                <div class="box-style1">
                    <div class="img-holder">
                        <img src="img/home/artpress/art5.jpg" class="img-responsive" alt="demo">
                    </div>
                    <h5>Strategy for Art Initiatives including CSR</h5>
                    <p>Documenting the Collection, photographing and presenting the same online / offline</p>
                    <a href="#" class="more2">Click for more</a>
                </div>
            </div>
            <div class="col-flex">
                <div class="box-style1">
                    <div class="img-holder">
                        <img src="img/home/artpress/art6.jpg" class="img-responsive" alt="demo">
                    </div>
                    <h5>Training &amp; Workshops</h5>
                    <p>Documenting the Collection, photographing and presenting the same online / offline</p>
                    <a href="#" class="more2">Click for more</a>
                </div>
            </div>
            <div class="col-flex">
                <div class="box-style1">
                    <div class="img-holder">
                        <img src="img/home/artpress/art7.jpg" class="img-responsive" alt="demo">
                    </div>
                    <h5>Trusteeship &amp; Warehousing</h5>
                    <p>Documenting the Collection, photographing and presenting the same online / offline</p>
                    <a href="#" class="more2">Click for more</a>
                </div>
            </div>
            <div class="col-flex">
                <div class="box-style1">
                    <div class="img-holder">
                        <img src="img/home/artpress/art8.jpg" class="img-responsive" alt="demo">
                    </div>
                    <h5>Valuation &amp; Insurance</h5>
                    <p>Documenting the Collection, photographing and presenting the same online / offline</p>
                    <a href="#" class="more2">Click for more</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="style1-bg">
    <div class="container">
        <div class="padding-more">
            <div class="row">
                <div class="col-md-3">
                    <div class="events">
                        <h3 class="home-header font-color3">Events</h3>
                        <p class="bold">The Art Enclave (October 2015)
                        </p>
                        <p><span class="bold">Date:</span> <span class="eventdate">15-10-2015</span>
                        </p>
                        <p><span class="bold">Time:</span><span class="eventtime">5.30 pm</span>
                        </p>
                        <p><span class="bold">Venue:</span><span class="eventvenue">MMRDA Exhibition Center</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="some-image">
                        <div class="row-flex row-unflex image-box text-center">
                            <div class="col-flex" fancybox-box href="img/home/event/Event_Invite.jpg">
                                <h6>INVITE</h6>
                                <img src="img/home/event/Event_Invite.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="col-flex">
                                <h6>CATALOGUE</h6>
                                <a href="http://www.auraart.in/AuraArtShow2013/Catalogue.html" target="_blank">
                                    <img src="img/vc.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-flex" fancybox-box href="img/home/event/Event_Photo.jpg">
                                <h6>PHOTO</h6>
                                <img src="img/home/event/Event_Photo.jpg" alt="" class="img-responsive">

                            </div>
                            <div class="col-flex" fancybox-box href="img/home/event/Event_Press.jpg">
                                <h6>PRESS</h6>
                                <img src="img/home/event/Event_Press.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="col-flex" fancybox-box href="https://www.youtube.com/embed/ZgwIe-QW5f8">
                                <h6>VIDEO</h6>
                                <iframe width="100%" height="130" src="https://www.youtube.com/embed/ZgwIe-QW5f8" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="padding-more">
        <h3 class="home-header font-color3">Press</h3>
        <div class="row-flex row-unflex image-box">
            <div class="col-flex">
                <div class="col-press" fancybox-box href="img/home/press/Art&Deal.jpg">
                    <img src="img/home/press/Art&Deal.jpg" class="img-responsive" alt="demo">
                </div>
            </div>
            <div class="col-flex" fancybox-box href="img/home/press/Art&Deal-Cover.jpg">
                <div class="col-press">
                    <img src="img/home/press/Art&Deal-Cover.jpg" class="img-responsive" alt="demo">
                </div>
            </div>
            <div class="col-flex" fancybox-box href="img/home/press/BT3.jpg">
                <div class="col-press">
                    <img src="img/home/press/BT3.jpg" class="img-responsive" alt="demo">
                </div>
            </div>
            <div class="col-flex" fancybox-box href="img/home/press/AMIR.jpg">
                <div class="col-press">
                    <img src="img/home/press/AMIR.jpg" class="img-responsive" alt="demo">
                </div>
            </div>
            <div class="col-flex" fancybox-box href="img/home/press/2DesignMatrix.jpg">
                <div class="col-press">
                    <img src="img/home/press/2DesignMatrix.jpg" class="img-responsive" alt="demo">
                </div>
            </div>
            <div class="col-flex" fancybox-box href="img/home/press/AsianAge.jpg">
                <div class="col-press">
                    <img src="img/home/press/AsianAge.jpg" class="img-responsive" alt="demo">
                </div>
            </div>
            <div class="col-flex" fancybox-box href="img/home/press/Bombay_Times_Jan31_2008.jpg">
                <div class="col-press">
                    <img src="img/home/press/Bombay_Times_Jan31_2008.jpg" class="img-responsive" alt="demo">
                </div>
            </div>
            <div class="col-flex" fancybox-box href="img/home/press/G2.jpg">
                <div class="col-press">
                    <img src="img/home/press/G2.jpg" class="img-responsive" alt="demo">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="style2-bg">
    <div class="container">
        <div class="padding-more">
            <h3 class="home-header">Contact Us</h3>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="white-line">
                        <p><span class="bold">Daljit S Sethi</span>
                            <br>
                            <a href="tel:+919820351667">+91 98203 51667</a>
                        </p>
                        <p><span class="bold">Harmeet S Sethi</span>
                            <br>
                            <a href="tel:+919328877000">+91 93288 77000</a>
                            <br>
                            <a href="mailto:harmeet@auraart.in">harmeet@auraart.in</a>
                            <br>
                            <a href="mailto:harmeetssethi@gmail.com">harmeetssethi@gmail.com</a>
                        </p>
                        <p><span class="bold">Rishiraj S Sethi</span>
                            <br>
                            <a href="tel:+919820345740">+91 98203 45740</a>
                            <br>
                            <a href="mailto:rishiraj@auraart.in">rishiraj@auraart.in</a>
                            <br>
                            <a href="mailto:rishirajssethi@gmail.com">rishirajssethi@gmail.com</a>
                        </p>
                    </div>
                </div>

                <div class="col-md-8 col-sm-8">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <p><span class="bold">Office (Mumbai)</span>
                                <br>A-117, 1st floor, Vinay Bhavya
                                <br>159, CST Road, Kalina
                                <br>Santacruz (East)
                                <br>Mumbai - 400 098
                                <br>Tel: +91 22 2652 4557
                            </p>
                            <p><span class="bold">Office (Vadodara)</span>
                                <br>633, Fortune Tower
                                <br>Sayajigunj
                                <br>Vadodara - 390 005
                            </p>

                        </div>

                        <div class="col-md-6  col-sm-6">
                            <p><span class="bold">Registered Office</span>
                                <br>Mangal Prabhat, 7th Floor
                                <br>Gulmohar Cross Road No 7
                                <br>Vile Parle (W)
                                <br>Mumbai - 400 049
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
