<div class="container">
    <div class="row">
        <aside class="col-md-3 search-box">
            <div class="accordion-upper">
                Search
                <span class="pull-right">Go <i class="glyphicon glyphicon-menu-right"></i></span>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><i class="glyphicon glyphicon-menu-right"></i> Search For</div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-6">
                            <label for="paintings">
                                <input type="radio">Paintings</label>
                            <label for="sculptures">
                                <input type="radio">Sculptures</label>
                        </div>
                        <div class="col-md-6">
                            <label for="photographs">
                                <input type="radio">Photographs</label>
                            <label for="prints">
                                <input type="radio">Prints</label>
                        </div>
                    </div>
                </div>
            </div>
            <accordion close-others="true">
                <accordion-group heading="Search By Artist">
                    Artist
                </accordion-group>
                <accordion-group heading="Search By Price">
                    Price
                </accordion-group>
                <accordion-group heading="Search By Size">
                    Size
                </accordion-group>
            </accordion>
        </aside>

        <div class="col-md-9">
            <img src="img/slide1.jpg" alt="">
        </div>
    </div>
    <div class="row-flex">
        <div class="col-flex"><img src="http://placehold.it/250x250" class="img-responsive" alt="demo">View artwork in your room</div>
        <div class="col-flex"><img src="http://placehold.it/250x250" class="img-responsive" alt="demo">Custom framing</div>
        <div class="col-flex"><img src="http://placehold.it/250x250" class="img-responsive" alt="demo">Commisioned sculptures</div>
        <div class="col-flex">
            <img src="img/art_enclave.jpg" alt="art_enclave" class="img-responsive">
        </div>
        <div class="col-flex">Thought leadership</div>
    </div>
    <h3>Artworks</h3>
    <div class="row-flex">
        <div class="col-flex"><img src="http://placehold.it/250x250" class="img-responsive" alt="demo"></div>
        <div class="col-flex"><img src="http://placehold.it/250x250" class="img-responsive" alt="demo"></div>
        <div class="col-flex"><img src="http://placehold.it/250x250" class="img-responsive" alt="demo"></div>
        <div class="col-flex"><img src="http://placehold.it/250x250" class="img-responsive" alt="demo"></div>
    </div>
</div>
<!--Container-->