<div class="container" ng-controller="headerctrl">
    <div class="popup-dialogbox">
   <div class="ngdialog-close close"></div>
   <h3 class="createtitle text-center">Join Our Mailing List</h3>
        <div class="row">
            <div class="col-md-10 nomgpd">
                <form action="">
                    <input type="text" class="form-control" placeholder="Enter your email">
                </form>
            </div>
            <div class="col-md-2 nomgpd">
                <button type="button" class="btn btn-primarys">Join Now</button>
            </div>
        </div>
    </div>
</div>