<div class="container">
    <div class="popup-dialogbox">
        <div class="holder1">
            <div class="ngdialog-close close"></div>
            <div class="row">
                <div class="col-md-7">
                    <div class="signin">
                        <h3 class="createtitle">Login</h3>
                        <div class="signinor">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="email" class="form-control" placeholder="Enter your email *" required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="password" class="form-control" placeholder="Password *" required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn-sucess"> Login</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="gogbtn">
                        <a class="btnsoc gplus"> <i class="fa fa-google-plus"></i>Sign in with Google </a>
                        <a class="btnsoc fbook"> <i class="fa fa-facebook"></i>Sign in with Facebook </a>
                        <a class="btnsoc twit"> <i class="fa fa-twitter"></i>Sign in with Twitter </a>
                    </div>
                </div>
            </div>
            <div class="border1">
                <p class="abc"> <a href="#forgot" class="forgetlink"> Forgot your password? </a><span class="already">Don't have an account ? Click <a href="#register" class="forgetlink">here</a> to  create one </span></p>
            </div>
        </div>
    </div>
</div>
