<div class="border-top"></div>
<!--
<div class="container ">
    <div class="media">
        <h3 class="font-color3 home-header">Press</h3>
    </div>
    <div class="row media">
        <div class="all-events search-box media mediacov">
            <accordion close-others="true">
                <accordion-group heading="Media Coverage 2015" is-open="status.isFirstOpen">
                    <div class="row">
                        <div class="col-md-3" ng-repeat="media in media2015">
                            <div class="event-detail media-detail">
                                <div class="data">
                                    <h6 class="font-color2">{{media.name}}</h6>
                                    <p>{{media.date}}</p>
                                </div>
                                <div class="media-img text-center">
                                    <a href="{{media.img}}" fancybox-box>
                                        <figure>
                                            <img ng-src="{{media.img}}" class="img-responsive">
                                        </figure>
                                    </a>
                                </div>

                            </div>
                        </div>

                    </div>
                </accordion-group>
                <accordion-group heading="Media Coverage 2014">
                    <div class="row">
                        <div class="col-md-3" ng-repeat="media in media2014">
                            <div class="event-detail media-detail">
                                <div class="data">
                                    <h6 class="font-color2">{{media.name}}</h6>
                                    <p>{{media.date}}</p>
                                </div>
                                <div class="media-img text-center">
                                    <figure>
                                        <a href="{{media.img}}" fancybox-box>
                                            <img ng-src="{{media.img}}" class="img-responsive">
                                        </a>
                                    </figure>
                                </div>

                            </div>
                        </div>

                    </div>
                </accordion-group>

            </accordion>
        </div>
    </div>
</div>
-->
<div class="container ">
	<div class="media">
		<h3 class="font-color3 home-header">Press</h3>
	</div>
	<div class="row media">
		<div class="all-events search-box media mediacov">
			<p class="head">Media Coverage 2015</p>
			<div class="row">
				<div class="col-md-3" ng-repeat="media in media2015">
					<div class="event-detail media-detail">
						<div class="data">
							<h6 class="font-color2">{{media.name}}</h6>
							<p>{{media.date}}</p>
						</div>
						<div class="media-img text-center">
							<a href="{{media.img}}" fancybox-box>
								<figure>
									<img ng-src="{{media.img}}" class="img-responsive">
								</figure>
							</a>
						</div>

					</div>
				</div>
				<p class="head">Media Coverage 2014</p>
				<div class="row">
					<div class="col-md-3" ng-repeat="media in media2014">
						<div class="event-detail media-detail">
							<div class="data">
								<h6 class="font-color2">{{media.name}}</h6>
								<p>{{media.date}}</p>
							</div>
							<div class="media-img text-center">
								<figure>
									<a href="{{media.img}}" fancybox-box>
										<img ng-src="{{media.img}}" class="img-responsive">
									</a>
								</figure>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>