<div class="artist-detail" ng-controller="ArtistCtrl">
    <div class="container">
        <div class="ngdialog-close close"></div>
        <div class="cont-artist padd-mores">
            <div class="row">
              <div class="col-md-12"><h4 class="head-team">Veguri Ravindra Babu</h4></div>  
                <div class="col-md-3 col-sm-6" ng-repeat="artistdetails in artistdetail">
                    <div class="artist-details">
                        <div class="image-holder" fixit>
                            <img class="fix-img" ng-src='{{artistdetails.image}}'>
                        </div>
                        <div class="artist-cont-detail">
                            <p>
                                {{artistdetails.id}}
                                <i class="fa fa-heart"></i>
                            </p>
                            <p>
                                {{artistdetails.typename}}
                            </p>
                            <p>
                                {{artistdetails.madein}}
                            </p>
                            <p>
                                {{artistdetails.size}} inches
                            </p>
                            <p>
                                {{artistdetails.year}}
                            </p>
                            <p>
                                Rs {{artistdetails.price}}
                            </p>
                            <button type="submit" class="btn btn-sucesses btn-small text-center">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>