<div class="border-top"></div>
<section class="favorites cart">
    <div class="container">
        <div class="media min-cont">
            <h4 class="head-team">Reach Out For Artworks</h4>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <div class="input-id">
                            <input type="email" class="form-control" value="harmeet@auraart.in; rishiraj@auraart.in" readonly>
                        </div>
                        <div class="input-id">
                            <input type="text" class="form-control" id="from" placeholder="From">
                        </div>
                        <div class="input-id">
                            <select placeholder="Artist" class="form-control" required>
                                <option value="">Select Artist</option>
                                <option value="94">Amarnath Sharma</option>
                                <option value="95">Arunanshu Chowdhury</option>
                                <option value="96">BR Bodade</option>
                                <option value="97">Bhushen Koul</option>
                                <option value="98">Birendra Pani</option>
                                <option value="100">Charan Sharma</option>
                                <option value="101">Devangi Sidharth</option>
                                <option value="102">Dilip Ranade</option>
                                <option value="103">Heeral Trivedi</option>
                                <option value="104">Hema Joshi</option>
                                <option value="105">Isha Diwanji</option>
                                <option value="106">Jayant Parikh</option>
                                <option value="107">Jignasa Doshi</option>
                                <option value="109">Lokesh Khodke</option>
                                <option value="110">Madan Lal</option>
                                <option value="111">Maneesha Doshi</option>
                                <option value="113">Nagji Patel</option>
                                <option value="114">Nimisha Sharma</option>
                                <option value="115">Prabhakar Alok</option>
                                <option value="116">Prandeep Kalita</option>
                                <option value="117">Prokash Karmakar</option>
                                <option value="118">Ramgopal Kumawat</option>
                                <option value="119">Rini Dhumal</option>
                                <option value="120">S Yousuf Ali</option>
                                <option value="121">Sajal S Sarkar</option>
                                <option value="122">Sanjay Kumar</option>
                                <option value="123">Shailesh Patel</option>
                                <option value="124">Shruti Gupta Chandra</option>
                                <option value="125">Sidharth</option>
                                <option value="126">Somnath C Banerjee</option>
                                <option value="127">Sushila Bodade</option>
                                <option value="128">Tejinder Kanda</option>
                                <option value="129">Umesh Varma</option>
                                <option value="130">V N Jyothi Basu</option>
                                <option value="131">Vidhyasagar Upadhyay</option>
                                <option value="132">Vasudeo Kamath</option>
                                <option value="133">Vasudevan Akkitham</option>
                                <option value="134">Veguri Ravindra Babu</option>
                                <option value="135">Vigyan Vrat</option>
                                <option value="136">Vinay Sharma</option>
                                <option value="137">Viren Tanwar</option>
                                <option value="138">Vrundavan Solanki</option>
                                <option value="139">Wasim R Kapoor</option>
                                <option value="140">Yusuf</option>
                                <option value="145">Ajay De</option>
                                <option value="146">Ajay R Dhandre</option>
                                <option value="148">Arshad</option>
                                <option value="150">Dinesh Gain</option>
                                <option value="151">Ghanshyam Gupta</option>
                                <option value="152">Jagannath Mahapatra</option>
                                <option value="153">Khetanchi</option>
                                <option value="155">M Victor Selvaraj</option>
                                <option value="156">Malay Samiran Banerjee</option>
                                <option value="157">Meera Gupta</option>
                                <option value="158">Meghansh Thapa</option>
                                <option value="159">Mohit Bhatia</option>
                                <option value="160">Prashant Salvi</option>
                                <option value="161">Rajendra Prasad</option>
                                <option value="162">Rajiba Lochan Pani</option>
                                <option value="163">Rakesh Kumar</option>
                                <option value="165">Sajal Sarkar</option>
                                <option value="166">Samir</option>
                                <option value="167">Sanjay Roy</option>
                                <option value="168">Shekhar Paul</option>
                                <option value="169">Shreelakha Sikandar</option>
                                <option value="170">Tapas Basu</option>
                                <option value="171">V L Mevada</option>
                                <option value="177">Avijit Roy</option>
                                <option value="178">Dharmendra Rathore</option>
                                <option value="179">Ratilal Kansodaria</option>
                                <option value="180">Prakash Ghadge</option>
                                <option value="181">Gourishankar Soni</option>
                                <option value="182">Yashwant Shirwadkar</option>
                                <option value="183">Piu Sarkar</option>
                                <option value="185">Raamji Sharma</option>
                                <option value="186">Sukhjeet Singh Kukkal</option>
                                <option value="187">Mahendra Kadia</option>
                                <option value="188">Ajay Kanwal</option>
                                <option value="189">Ganesh Gohain</option>
                                <option value="190">Prashant Prabhu</option>
                                <option value="191">Sanjay Kumar Srivastav</option>
                                <option value="192">Haku Shah</option>
                                <option value="193">Hitesh Gilder</option>
                                <option value="194">Saini S Johray</option>
                                <option value="195">Sachin Dadhich</option>
                                <option value="196">Prem Singh</option>
                                <option value="198">Mahesh Padia</option>
                                <option value="199">Srushti Mandar Rao</option>
                                <option value="201">Sujith Kumar GS Mandya</option>
                                <option value="203">Sajal Kanti Mitra</option>
                                <option value="205">Yardhala Ravi Chander</option>
                                <option value="206">Rokesh Kumar Singh</option>
                                <option value="209">Pushpkant Trivedi</option>
                                <option value="210">Maryada Hinger Dr</option>
                                <option value="211">Bindu Joshi</option>
                                <option value="212">V L Mevada</option>
                                <option value="213">Satish Gujral</option>
                                <option value="216">Krishen Khanna</option>
                                <option value="223">Jogen Chowdhury</option>
                                <option value="226">Mahesh Ch R Prajapati</option>
                                <option value="248">Farhad Hussain</option>
                                <option value="250">Umakant Kanade</option>
                                <option value="251">Harshad Panchal</option>
                                <option value="252">Vinod Shah</option>
                                <option value="260">Yamini Sharma</option>
                                <option value="261">Yugal Kishor Sharma</option>
                                <option value="262">K Prakash Raman</option>
                                <option value="263">Prithwiraj Mali</option>
                                <option value="264">Satish Patil</option>
                                <option value="265">Paramesh Paul</option>
                                <option value="266">Om Swami</option>
                                <option value="268">Shrikant W Kolhe</option>
                                <option value="270">Vishal Joshi</option>
                                <option value="271">Dhiraj Choudhary</option>
                                <option value="272">Bimal Das Gupta</option>
                                <option value="273">Dhruva Mistry</option>
                                <option value="275">KS Radhakrishnan</option>
                                <option value="277">Gogi Saroj Pal</option>
                                <option value="278">Arzan Khambatta</option>
                                <option value="279">Manjit Bawa</option>
                                <option value="280">Paramjit Singh</option>
                                <option value="281">Seema Kohli</option>
                                <option value="282">Amit Ambalal</option>
                                <option value="283">Neena Singh</option>
                                <option value="284">Nabibakhsh Mansoori</option>
                                <option value="285">Ruby Jagrut</option>
                                <option value="286">Sabia</option>
                                <option value="287">Kiran Soni Gupta</option>
                                <option value="288">Ramesh Thorat</option>
                                <option value="289">JyotiI Bhatt</option>
                                <option value="290">C R Shelare</option>
                                <option value="293">Anoop Negi</option>
                                <option value="294">Suchit Nanda</option>
                                <option value="295">Chandu Mhatre</option>
                                <option value="296">Gyan Singh</option>
                                <option value="297">Piyush Patra</option>
                                <option value="298">Pradeep B Jogdand</option>
                                <option value="299">Bhagwan Rampure</option>
                                <option value="300">Rajendra Mishra</option>
                                <option value="301">Rohan Sonavane</option>
                                <option value="302">Sunil Deore</option>
                                <option value="303">Ramesh Thorat</option>
                                <option value="304">Lallan Singh</option>
                                <option value="305">Vinod Daroz</option>
                                <option value="306">Arun Pandit</option>
                                <option value="308">Bharati Pitre</option>
                                <option value="309">Chetan Vaity </option>
                                <option value="310">Shruti Mestry</option>
                                <option value="311">Rekha Goyal</option>
                                <option value="312">Ilyas Ahmed</option>
                                <option value="313">Prakash Bal Joshi</option>
                                <option value="336">Aparna Anil</option>
                                <option value="337">Aradhna Tandon</option>
                                <option value="338">D J Bagga</option>
                                <option value="339">Gajanan Sakpal</option>
                                <option value="340">Gautam Patole</option>
                                <option value="341">Kiran Kumar Sen</option>
                                <option value="342">Manu</option>
                                <option value="343">Mayank Sharma</option>
                                <option value="344">Sudhir Bangar</option>
                                <option value="345">Suguresh Sultanpur</option>
                                <option value="346">Asit Poddar</option>
                                <option value="347">Sudha Ramakrishnan</option>
                                <option value="348">Sanju Jain</option>
                                <option value="349">Kshipra Patel</option>
                                <option value="350">Vazda Khan</option>
                                <option value="351">Shruti Jhaveri</option>
                                <option value="352">Devki Modi</option>
                                <option value="353">Gaurav Bose</option>
                                <option value="354">Rishi Kapil</option>
                                <option value="355">Urvi Vakharia</option>
                                <option value="356">Asurvedh</option>
                                <option value="357">Dr Rakesh Singh</option>
                                <option value="358">Nayanaa Kanodia</option>
                                <option value="359">Mahaveer Swami</option>
                                <option value="360">Sangeeta Babani</option>
                                <option value="361">Padmanabh Bendre</option>
                                <option value="362">Sonia Bendre</option>
                                <option value="363">Poonam Agarwal </option>
                                <option value="364">Anita Tiwary</option>
                                <option value="367">Di Meher</option>
                                <option value="368">Revati Gangal</option>
                                <option value="369">Chandrakant Prajapati</option>
                                <option value="370">Devyani Parikh</option>
                                <option value="371">Ruchi Ganeriwal</option>
                                <option value="372">Smita Srivastava</option>
                                <option value="373">Vandana Bhagat</option>
                                <option value="374">Drishti Vohra</option>
                                <option value="375">Nikita Sagar</option>
                                <option value="377">Kanchan Mahante</option>
                                <option value="378">Sohan Jakhar</option>
                                <option value="379">Shantkumar Hattarki</option>
                                <option value="380">Sadhana Raddi</option>
                                <option value="381">Alison Pinto</option>
                            </select>
                        </div>
                        <div class="input-id">
                            <input type="text" class="form-control" id="from" placeholder="Painting Interested">
                        </div>
                        <div class="input-id">
                            <h5>Action step</h5>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optradio">Request for Price
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optradio">Shoud we call or come to meet you
                                </label>

                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optradio">Would you like to schedule a visit to our Gallary
                                </label>
                            </div>
                        </div>
                        <div class="input-id">
                            <h4 class="head">Contact Details</h4></div>
                        <input type="text" class="form-control" id="from" placeholder="Address (Office / Residence)">
                    </div>
                    <div class="input-id">
                        <input type="tel" class="form-control" id="from" placeholder="Contact Number">
                    </div>
                    <div class="input-id">
                        <input type="text" class="form-control" id="from" placeholder="Contact Person">
                    </div>
                    <div class="input-id">
                        <textarea class="form-control" rows="5" id="comment" placeholder="Remarks/Comments"></textarea>
                    </div>
                    <a class="btn btn-sucesses">Submit</a>
                    <a class="btn btn-primarys">Reset</a>
                </div>
            </div>
        </div>
    </div>
</section>
