<section class="favorites cart">
  <div class="container">
    <form ng-submit="">
      <div class="media min-cont">
        <h4 class="head-team">Reach Out For Artworks</h4>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-id">
                <input class="form-control" readonly type="email" value="harmeet@auraart.in; rishiraj@auraart.in">
              </div>
              <div class="input-id">
                <input class="form-control" placeholder="From" type="text">
              </div>
              <div class="input-id">
                <input class="form-control" placeholder="Enter Artist Name" type="text">
              </div>
              <div class="input-id">
                <input class="form-control" placeholder="Painting Interested" type="text">
              </div>
              <div class="input-id">
                <h4>Action step</h4>
                <div class="radio">
                  <label>
                    <input type="radio" name="action">
                    Request for Price
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="action">
                    Shoud we call or come to meet you
                  </label>

                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="action">
                    Would you like to schedule a visit to our Gallary
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-id">
                <input class="form-control" placeholder="Address (Office / Residence)" type="text">
              </div>
              <div class="input-id">
                <input class="form-control" placeholder="Contact Number" type="tel">
              </div>
              <div class="input-id">
                <input class="form-control" placeholder="Contact Person" type="text">
              </div>
              <div class="input-id">
                <textarea class="form-control" placeholder="Remarks/Comments" rows="5"></textarea>
              </div>
              <button class="btn btn-sucesses" type="Submit">Submit</button>
              <button class="btn btn-primarys" type="Reset">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
