<div class="create-user cont-create compact-form">
  <div class="container">
    <div class="page">
      <h2 class="title">
      </h2>
      <div class="row">
        <div class="col-md-12">
          <section class="panel panel-default" style="border-radius:0px;">
            <div class="panel-heading panel-hdr">Register Artist Form
            </div>
            <div class="panel-body">
              <form name="form_constraints" class="form-validation" data-ng-submit="submitForm()">

                <div class="row">
                  <div class="col-md-6">
                    <!--
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Access Level</label>
                                    <select class="form-control" ng-model="user.accesslevel" required>
                                        <option selected value="customer">Customer</option>
                                        <option value="artist">Artist</option>
                                        <option value="admin">Admin</option>
                                    </select>
                                </div>
-->
                    <div class="form-group">
                      <label for="exampleInputEmail1">Name*</label>
                      <input type="text" class="form-control" ng-model="user.name" placeholder="Name" required capitalize-first>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Gender</label>
                      <div>
                        <label class="radio-inline">
                          <input type="radio" name="gender" ng-model="user.gender" value="male">Male
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="gender" ng-model="user.gender" value="female">Female
                        </label>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email Address</label>
                      <input type="email" class="form-control" ng-model="user.email" ng-change="email(user.email)" placeholder="Enter email address" required>
                      <span ng-if="isValidEmail==0" style="color:red;">Email id already exists.</span>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email Address</label>
                      <input type="email" class="form-control" ng-model="user.email" ng-change="email(user.email)" placeholder="Enter email address" required>
                      <span ng-if="isValidEmail==0" style="color:red;">Email id already exists.</span>
                    </div>
                    <div class="form-group">
                      <label class="radio-inline">
                        <input type="radio" name="focus" ng-model="user.focused" value="focused" class="ng-pristine ng-untouched ng-valid">Focused
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="focus" ng-model="user.focused" value="nonfocused" class="ng-pristine ng-untouched ng-valid">Non-Focused
                      </label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Image</label>
                      <div class="photo-holder">
                        <span ng-hide="user.image">Artist Photo</span>
                        <div class="image-contain" style="background-image:url('{{user.image | uploadpath}}');"></div>
                      </div>
                      <input type="button" ng-click="removeimage();" value="Delete" class="btn btn-danger" ng-if="user.image">
                    </div>
                    <div class="upload-div">
                      <div ng-init="httpMethod = 'POST';howToSend = 1;"></div>
                      <div class="upload-buttons">
                        <input type="file" name="file" ng-file-select="onFileSelect($files,1)" onclick="this.value=null">
                      </div>
                      <div class="response" ng-show="uploadResult.length > 0">
                        <span ng-repeat="result in uploadResult">
                          <div ng-init=""></div>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Mobile Number</label>
                      <div class="tel-box">
                        <input type="tel" class="form-control tel-country" ng-model="user,mob" placeholder="Country Code" value="+91">
                        <input type="tel" class="form-control tel-number" ng-model="user.mob" placeholder="Mobile Number">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Work Number</label>
                      <div class="tel-box">
                        <input type="tel" class="form-control tel-country" ng-model="user,mob" placeholder="Country Code" value="+91">
                        <input type="tel" class="form-control tel-city" ng-model="user.mob" placeholder="City Code">
                        <input type="tel" class="form-control tel-numbers" ng-model="user.work" placeholder="Work Number">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Residence Number</label>
                      <div class="tel-box">
                        <input type="tel" class="form-control tel-country" ng-model="user,mob" placeholder="Country Code" value="+91">
                        <input type="tel" class="form-control tel-city" ng-model="user.mob" placeholder="City Code">
                        <input type="tel" class="form-control tel-numbers" ng-model="user.home" placeholder="Residence Number">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Date / Year of Birth</label>
                      <input type="text" onfocus="(this.type='date')" class="form-control" ng-model="user.dob" placeholder="Date of birth" required>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Place / City / State of Birth</label>
                      <input type="text" class="form-control" ng-model="user.stateofb" placeholder="State of Birth">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Year of Demise (if applicable)</label>
                      <input type="text" class="form-control" ng-model="user.passedaway" placeholder="Year of Demise (if applicable)">
                    </div>
                  </div>
                </div>
                <br>
                <h4 class="title-color">Address</h4>
                <hr>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Residence</label>
                      <div class="tel-box">
                        <input type="text" class="form-control tel-country" ng-model="user.regadd" placeholder="Flat No" required>
                        <input type="text" class="form-control tel-number" ng-model="user.regadd" placeholder="Name of Buliding" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="user.regadd" placeholder="Landmark" required>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="user.regadd" placeholder="Street" required>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="user.regadd" placeholder="Locality" required>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="user.city" placeholder="City">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="user.pincode" placeholder="Pincode">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="user.state" placeholder="State">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="user.country" placeholder="Country">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Studio</label>
                      <div class="tel-box">
                        <input type="text" class="form-control tel-country" ng-model="user.regadd" placeholder="Flat No" required>
                        <input type="text" class="form-control tel-number" ng-model="user.regadd" placeholder="Name of Buliding" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="user.regadd" placeholder="Landmark" required>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="user.regadd" placeholder="Street" required>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="user.regadd" placeholder="Locality" required>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="user.city" placeholder="City">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="user.pincode" placeholder="Pincode">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="user.state" placeholder="State">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="user.country" placeholder="Country">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Any Other</label>
                      <div class="tel-box">
                        <input type="text" class="form-control tel-country" ng-model="user.regadd" placeholder="Flat No" required>
                        <input type="text" class="form-control tel-number" ng-model="user.regadd" placeholder="Name of Buliding" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="user.regadd" placeholder="Landmark" required>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="user.regadd" placeholder="Street" required>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="user.regadd" placeholder="Locality" required>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="user.city" placeholder="City">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="user.pincode" placeholder="Pincode">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="user.state" placeholder="State">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="user.country" placeholder="Country">
                    </div>
                  </div>
                </div>
                <!-- <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Address</label>
                      <textarea class="form-control" ng-model="user.regadd" placeholder="Registered Address"></textarea>
                      <textarea class="form-control" ng-model="user.add1" placeholder="Address 1"></textarea>
                      <textarea class="form-control" ng-model="user.add2" placeholder="Address 2"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Locality</label>
                      <input type="text" class="form-control" ng-model="user.locality" placeholder="Locality" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1">City</label>
                      <input type="text" class="form-control" ng-model="user.city" placeholder="City">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">State</label>
                      <input type="text" class="form-control" ng-model="user.state" placeholder="State">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Pincode</label>
                      <input type="text" class="form-control" ng-model="user.pincode" placeholder="Pincode">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Country</label>
                      <input type="text" class="form-control" ng-model="user.country" placeholder="Country">
                    </div>
                  </div>
                </div> -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Overview of Artist's concepts / thought process (Limited to 200 words)</label>
                      <textarea class="form-control ng-pristine ng-untouched ng-valid" ng-model="user.artistdesc" maxlength="200" placeholder="Overview of Artist's concepts / thought process (Limited to 200 words)"></textarea>
                    </div>
                  </div>
                </div>
                <br>
                <h4 class="title-color">Education, Shows, Awards and Auctions</h4>
                <hr class="hr-color">
                <div class="form-group">
                  <label>Educational Qualifications</label>
                  <a ng-click="addedu(user);" class="btn btn-success pull-right">Add Qualification</a>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <td>Year of Completion</td>
                        <td>Qualification</td>
                        <td>Name of Institution</td>
                        <td>Name of Institution</td>
                        <td>Action</td>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- ngRepeat: edu in user.edu -->
                    </tbody>
                  </table>
                </div>
                <!-- <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Education Background</label>
                      <input type="text" class="form-control" ng-model="user.edubg" placeholder="Education Background">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Year of Completion</label>
                      <input type="text" class="form-control" ng-model="user.yearofc" placeholder="Year of Completion">
                    </div>
                  </div>
                </div> -->

                <!-- <div class="row">
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Qualification</label>
                      <input type="text" class="form-control" ng-model="user.equalify" placeholder="Qualification">
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Name of Institution</label>
                      <input type="text" class="form-control" ng-model="user.einstitute" placeholder="Name of Institution">
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Educational City</label>
                      <input type="text" class="form-control" ng-model="user.ecity" placeholder="City">
                    </div>
                  </div>
                </div> -->

                <div class="form-group">
                  <label>Solo Shows</label>
                  <a ng-click="addsolo(user);" class="btn btn-success pull-right">Add Solo Show</a>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <td>Year</td>
                        <td>Title of Show</td>
                        <td>Gallery</td>
                        <td>Venue</td>
                        <td>City / Country</td>
                        <td>Action</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="solo in user.soloshow">
                        <td>
                          <input type="text" class="form-control" ng-model="solo.year" placeholder="Details">
                        </td>
                        <td>
                          <input type="text" class="form-control" ng-model="solo.title" placeholder="Title">
                        </td>
                        <td>
                          <input type="text" class="form-control" ng-model="solo.gallery" placeholder="Gallery">
                        </td>
                        <td>
                          <input type="text" class="form-control" ng-model="solo.venue" placeholder="Venue">
                        </td>
                        <td>
                          <input type="text" class="form-control" ng-model="solo.city" placeholder="City">
                        </td>
                        <td>
                          <input class="btn btn-danger" type="button" ng-click="removesolo(user.soloshow.indexOf(solo),user.soloshow);" value="Delete">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="form-group">
                  <label>Group Shows</label>
                  <a ng-click="addgroup(user);" class="btn btn-success pull-right">Add Group Show</a>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <td>Year</td>
                        <td>Title of Show</td>
                        <td>Gallery</td>
                        <td>Venue</td>
                        <td>City / Country</td>
                        <td>Action</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="group in user.groupshow">
                        <td>
                          <input type="text" class="form-control" ng-model="group.year" placeholder="Year">
                        </td>
                        <td>
                          <input type="text" class="form-control" ng-model="group.title" placeholder="Title">
                        </td>
                        <td>
                          <input type="text" class="form-control" ng-model="group.gallery" placeholder="Gallery">
                        </td>
                        <td>
                          <input type="text" class="form-control" ng-model="group.venue" placeholder="Venue">
                        </td>
                        <td>
                          <input type="text" class="form-control" ng-model="solo.city" placeholder="City">
                        </td>
                        <td>
                          <input class="btn btn-danger" type="button" ng-click="removegroup(user.groupshow.indexOf(group),user.groupshow);" value="Delete">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="form-group">
                  <label>Awards / Recognitions / Honors</label>
                  <a ng-click="addaward(user);" class="btn btn-success pull-right">Add Award</a>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <td>Year</td>
                        <td>Title</td>
                        <td>Institution Giving Award</td>
                        <td>Action</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="award in user.award">
                        <td>
                          <input type="text" class="form-control" ng-model="award.year" placeholder="Year">
                        </td>
                        <td>
                          <input type="text" class="form-control" ng-model="award.title" placeholder="Title">
                        </td>
                        <td>
                          <input type="text" class="form-control" ng-model="award.institution" placeholder="Institution">
                        </td>
                        <td>
                          <input class="btn btn-danger" type="button" ng-click="removeaward(user.award.indexOf(award),user.award);" value="Delete">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>


                <div class="form-group">
                  <label>Auctions</label>
                  <a ng-click="addauction(user);" class="btn btn-success pull-right">Add Auction</a>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <td>Year</td>
                        <td>Auction House</td>
                        <td>City / Country</td>
                        <td>Price and Details of Work</td>
                        <td>Action</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="auction in user.auction">
                        <td>
                          <input type="text" class="form-control" ng-model="auction.year" placeholder="Year">
                        </td>
                        <td>
                          <input type="text" class="form-control" ng-model="auction.auctionhouse" placeholder="Auction House">
                        </td>
                        <td>
                          <input type="text" class="form-control" ng-model="auction.location" placeholder="Location">
                        </td>
                        <td>
                          <input class="btn btn-danger" type="button" ng-click="removeauction(user.auction.indexOf(auction),user.auction);" value="Delete">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Upload Resume</label>
                      <!-- ngIf: user.resume -->
                      <!-- ngIf: user.resume -->
                    </div>
                    <div class="form-group">
                      <div ng-init="httpMethod = 'POST';howToSend = 1;"></div>
                      <div class="upload-buttons">
                        <input type="file" name="file">
                      </div>
                      <div class="response ng-hide">
                        <!-- ngRepeat: result in uploadResult -->
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Upload Address Certificate</label>
                      <!-- ngIf: user.adcer -->
                      <!-- ngIf: user.adcer -->
                    </div>
                    <div class="form-group">
                      <div ng-init="httpMethod = 'POST';howToSend = 1;"></div>
                      <div class="upload-buttons">
                        <input type="file">
                      </div>
                      <div class="response ng-hide" ng-show="uploadResult.length > 0">
                        <!-- ngRepeat: result in uploadResult -->
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <h4 class="title-color">Artist's Artwork Details</h4>
                <hr>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group ui-selecter">
                      <label for="exampleInputEmail1">Theme Speciality</label>
                      <div class="form-group">
                        <div class="ui-select-container ui-select-multiple ui-select-bootstrap dropdown form-control ng-valid open direction-up" ng-class="{open: $select.open}" tagging="" tagging-label="false" ng-model="user.theme" on-select="ismatch(user.theme,$select);">
                          <div>
                            <span class="ui-select-match" placeholder="Select Theme">
                              <!-- ngRepeat: $item in $select.selected -->
                            </span>
                            <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="ui-select-search input-xs ng-valid ng-dirty ng-valid-parse ng-touched" placeholder="Select Theme" ng-disabled="$select.disabled" ng-hide="$select.disabled"
                            ng-click="$select.activate()" ng-model="$select.search" role="combobox" aria-label="Select box" ondrop="return false;" style="width: 445px;">
                          </div>
                          <ul class="ui-select-choices ui-select-choices-content ui-select-dropdown dropdown-menu ng-scope ng-hide" role="listbox" ng-show="$select.items.length > 0" repeat="person in theme track by person._id" refresh="refreshTheme($select.search,$select.selected)"
                          refresh-delay="0" style="opacity: 1; position: absolute; top: 0px;">
                            <li class="ui-select-choices-group" id="ui-select-choices-2">
                              <div class="divider ng-hide" ng-show="$select.isGrouped &amp;&amp; $index > 0"></div>
                              <div ng-show="$select.isGrouped" class="ui-select-choices-group-label dropdown-header ng-binding ng-hide" ng-bind="$group.name"></div>
                              <!-- ngRepeat: person in $select.items track by person._id -->
                            </li>
                          </ul>
                          <ui-select-multiple></ui-select-multiple>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group ui-selecter">
                      <label for="exampleInputEmail1">Medium Speciality</label>
                      <div class="form-group">
                        <div class="ui-select-container ui-select-multiple ui-select-bootstrap dropdown form-control ng-valid" ng-class="{open: $select.open}" tagging="" tagging-label="false" ng-model="user.medium" ng-change="ismatchmed(user.medium,$select);">
                          <div>
                            <span class="ui-select-match" placeholder="Select Medium">
                              <!-- ngRepeat: $item in $select.selected -->
                            </span>
                            <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="ui-select-search input-xs ng-pristine ng-untouched ng-valid" placeholder="Select Medium" ng-disabled="$select.disabled" ng-hide="$select.disabled" ng-click="$select.activate()"
                            ng-model="$select.search" role="combobox" aria-label="Select box" ondrop="return false;" style="width: 445px;">
                          </div>
                          <ul class="ui-select-choices ui-select-choices-content ui-select-dropdown dropdown-menu ng-scope ng-hide" role="listbox" ng-show="$select.items.length > 0" repeat="person in medium track by person._id" refresh="refreshMedium($select.search,$select.selected)"
                          refresh-delay="0">
                            <li class="ui-select-choices-group" id="ui-select-choices-3">
                              <div class="divider ng-hide" ng-show="$select.isGrouped &amp;&amp; $index > 0"></div>
                              <div ng-show="$select.isGrouped" class="ui-select-choices-group-label dropdown-header ng-binding ng-hide" ng-bind="$group.name"></div>
                              <!-- ngRepeat: person in $select.items track by person._id -->
                            </li>
                          </ul>
                          <ui-select-multiple></ui-select-multiple>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Website of Artist</label>
                      <input type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="user.woa" placeholder="Website of Artist">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Per square feet Gallery Price of representative body of works
                      </label>
                      <input type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="user.pricing" placeholder="Per square feet Gallery Price of representative body of works">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Online Catalogue Link</label>
                      <input type="text" class="form-control" ng-model="user.clink" placeholder="Online Catalogue Link">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1">eBook Link</label>
                      <input type="text" class="form-control" ng-model="user.eblink" placeholder="eBook Link">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <p>Please go through <a href="#/terms" class="font-color2" target="_blank">Terms and Conditions.</a></p>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="user.checkboxModel" ng-change="checking();">I have clicked on the check box after having read all the <a href="#/terms" class="font-color2" target="_blank">Terms and Conditions</a> and agreeing to abide by them.
                      <span ng-if="checked==1" style="color:red;">Please accept the terms.</span>
                    </label>
                  </div>
                </div>
                <div class="text-center" style="padding-bottom:20px;">
                  <button type="submit" class="btn btn-primary all-btn">Submit</button>
                </div>
              </form>
          </section>
          </div>
        </div>
      </div>
    </div>
  </div>
