<div class="image-detail">
    <div class="border-top"></div>
    <div class="container">
        <div class="row" ng-repeat="artistDetailImgs in artistDetailImg">
            <div class="breadcrums">
                <div class="col-md-12">
                    <p>Home / Sculpture </p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="aboveimage">
                    <div class="light-make light-shade" ng-click="showDetailImage();">Enlarge<i class="fa fa-arrows-alt"></i></div>
                    <div style="position:relative;" image-zoom data-template-url="views/content/image-zoom.html">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cont-imagedetail">
                    <div class="artist-cont-detail pading-less-bottom">
                        <div class="painting-details pading-less-bottom">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td> {{artistDetailImgs.id}}
                                            <i class="fa fa-heart"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="labels">Title:</td>
                                        <td>{{artistDetailImgs.title}}</td>
                                    </tr>
                                    <tr>
                                        <td class="labels">Artist:</td>
                                        <td>{{artistDetailImgs.artistname}}</td>
                                    </tr>
                                    <tr>
                                        <td class="labels">Medium: </td>
                                        <td>{{artistDetailImgs.typename }}</td>
                                    </tr>
                                    <tr>
                                        <td class="labels">Size:</td>
                                        <td>{{artistDetailImgs.size}}</td>
                                    </tr>
                                    <tr>
                                        <td class="labels">Year: </td>
                                        <td>{{artistDetailImgs.year }}</td>
                                    </tr>
                                    <tr>
                                        <td class="labels">Price: </td>
                                        <td>{{artistDetailImgs.price}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button type="button" class="btn btn-block uppercase">
                        VIEW ARTWORK IN YOUR ROOM
                    </button>
                    <button type="button" class="btn btn-block uppercase">
                        Rent sculpture
                    </button>
                    <button type="button" class="btn btn-primarys btn-block uppercase">
                        ADD TO CART
                    </button>
                    <div class="row-flex row-flex row-unflex sweet-box box-more text-center">
                        <div class="col-flex" ng-repeat="moresculptures in moreSculpture">
                            <div class="view-box image-box">
                                <img ng-src='{{moresculptures.image}}' alt="" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-flex">
                            <div class="view-box image-box">
                                <img src="img/imagedetail/sculputure.jpg" alt="" class="img-responsive">
                                <i class="fa fa-play-circle-o"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="style1-bg margin-btm-top">
        <div class="container">
            <div class="padding-more">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="head-more">MORE WORKS BY THIS ARTIST<a href="#" class="link-viewall">VIEW ALL</a></h4>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-2 col-sm-4" ng-repeat="aristimages in aristImages">
                            <div class="aristimg-grp1">
                                <div class="image-holder" fixit>
                                    <img class="fix-img" ng-src='{{aristimages.image}}'>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
