<!--
                        <select name="dropdown">
                            <option value="Data Structures" selected>SORT BY</option>
                            <option value="Newest">New to Old</option>
                            <option value="Newest">Old to New</option>
                            <option value="Newest">High to Low</option>
                            <option value="Newest">Low to High</option>
                        </select>-->

<div class="sort">
    <div class="row">
        <div class="col-md-12">
            <div class="active" ng-click="sortBy(-1,'yoc')"> New to Old</div>
            <div ng-click="sortBy(1,'yoc')"> Old to New</div>
            <div ng-click="sortBy(-1,'gprice')"> High to Low</div>
            <div ng-click="sortBy(1,'gprice')"> Low to High</div>
        </div>
    </div>
</div>