<section class="team">
    <div class="border-top"></div>
    <div class="container">
        <div class="contss" style="padding:20px 0;">
            <div class="row">
                <div class="col-md-6">
                    <div class="content-team">
                        <h4 class="head-team"> Core Team</h4>
                        <div class="view-more">
                            <ul>
                                <li class="head">Daljit S Sethi</li>
                                <li> Chairman, Aura Art </li>
                                <li> Director, Aura Art Development Pvt Ltd </li>
                                <li> Member, ICCR - Advisory Committee, Mumbai (Ministry of External Affairs, Government of India) </li>
                                <li> Director/Chairman - Art and Culture R.I. Dist. 3140 (Since 2006) </li>
                                <li> Founder &#38; Chairman - Noble Heart Foundation </li>
                                <li> Past President - Rotary Club of Kota </li>
                                <li> Deputy Governor RI Dist 3140 (1998-1999)</li>
                                <li> Founder &#38; Ex Chairman - Kota Heart Foundation</li>
                                <li> Founder &#38; Ex V. President - Badhit Bal Vikas Kendra</li>
                            </ul>
                            <a class="readmore readmore3 pull-right" readmores>see more </a>

                            <ul class="read-morecont read-morecont3">
                                <li> An ardent fan and lover of Art, always eager to promote artists. Invested significant time and energy in the study of art in all its manifestations over the last 30 years. </li>
                                <li> Entrepreneur, always in search of pursuits. Past and present business ventures include timber and forest business in Kashmir, mines and orchards in Rajasthan, stocks and finance at Vadodara and Mumbai.</li>
                                <li> B Com, Diploma in Business Management.</li>
                                <li> A Sportsman: Hockey, Football and Shooting and in the year 1973 was allocated a special .22 Bore Rifle by the National Rifle Association of India, Delhi.</li>
                                <li> Founder: Kota Heart Foundation and Noble Heart Foundation - has been serving heart patients for over 30 years.</li>
                                <li> Founder Member of School for Deaf, Dumb and Blind at Kota.</li>
                                <li> Joined Rotary in 1976. Held all important positions since then. To name a few - Deputy Governor R I Dist 3140 in 1998-1999, Director/Chairman Promotion of Arts & Culture R I DIST 3140 (Since 2006).</li>
                                <li> Won more than 50 trophies and awards including "OUTSTANDING SERVICE AWARD" and "SIGNIFICANT ACHIEVEMENT AWARD" by Rotary International President, "EXCEPTIONAL PROJECT AWARD" in the year 1990, prestigious "LOK SEVA AWARD" for service to Heart Patients, "RAJIV GANDHI EXCELLENCE AWARD" for outstanding services, achievements and contributions, 1996.</li>
                                <li> ADDITIONAL CHIEF CONVENER - Bombay for HANDS OF HARMONY ACROSS INDIA organized at ALL INDIA LEVEL to express solidarity for peace and communal harmony. "Ekta Raksha Bandan Din" was organized in all State Capitals and District Towns of India from 1050 to 1115 hours on Martyrs Day, January 30,1994.</li>
                                <li> For the UPLIFTMENT of brother and sister humans, convening and organizing talks by enlightened Masters, Philosophers, Scientists, Scholars and Selfless Social Workers on Rotary and other platforms, with special emphasis on subjects such as Peace, Harmony, Integration, Rebuilding India through right values, Art in all its magnificent facets and its softening and elevating effect etc.</li>
                                <li> Took very active and keen interest in eradication of leprosy.</li>
                                <li> Preservation of Playgrounds, Parks and open spaces with passion. In association with (late) Shri Chatrabhuj Bhai Narsee, an educationist and philanthropist and other friends,organized many lectures on the subject. Ensured students are not deprived of the necessary facility of playgrounds and open spaces for harmonious growth.</li>
                                <li> Organiser, Charity auctions of Art conducted by Rotary as Deputy Governor of R I Dist 3140. Path -breaking initiatives were emulated at several other centres.</li>
                                <li> I love my India campaign: To create national pride and patriotism in youth and citizens. It was inaugurated by then President of India Shri KR Narayanan in Mumbai. This programme was held under auspicious of Rotary when he was Deputy District Governor RI Dist 3140.</li>
                                <li> When he was Deputy District Governor RI Dist 3140, RI Dist 3140 along with UNAIDS organized to sponsor an International conference on HIV/AIDS in Mumbai and invited Rotary Governors of India, Pakistan, Srilanka, Bangladesh, Nepal. Executive Director of UNAIDS and Assistant Secretary General of UN Dr Peter Piot, NACO, Health Officials of States of India and NGOs participated.
                                </li>
                            </ul>
                        </div>
                        <div class="view-more">
                            <ul>
                                <li class="head">Harmeet S Sethi</li>
                                <li>CEO, Aura Art</li>
                                <li>Director, Aura Art Development Pvt Ltd</li>
                            </ul>
                            <a class="readmore readmore2 pull-right" readmores>see more </a>
                            <ul class="read-morecont read-morecont2">

                                <li> An ardent Art lover. Has comprehensively studied Art and traveled extensively throughout India gaining finer insights into Art and Artists over the last 14 years. Relentlessly pursued quest for identifying high quality artworks and building deep relationships with artists across the country. </li>
                                <li> Largest contribution in building the enviable Aura Art collection over the last decade and in catalysing the development and promotional efforts of various artists.
                                </li>
                                <li>Instrumental in conceptualising and administering nearly 30 shows over the last 6 years, across the country.</li>
                                <li> Managing family business of stocks and finance in Vadodara since 1995. Developed and successfully implemented trading techniques, relying significantly on Technical Analysis.</li>
                                <li> Was Gold medalist at Stock Market Operations programme conducted by Vadodara Stock Exchange Ltd in 1995.</li>
                                <li> Bachelor of Business Administration.</li>
                                <li> A Sportsman - was Captain of Junior Hockey team at school and played Lawn Tennis upto state level in Maharashtra. Has completed basic course in Rifle shooting conducted by Baroda Rifle Club.</li>
                                <li> Exhibits a deep sense of commitment and is very passionate about all endeavours he undertakes. A leader with high motivational and persuasive skills.</li>
                            </ul>
                        </div>
                        <div class="view-more">
                            <ul>
                                <li class="head">Rishiraj S Sethi</li>
                                <li>Chief Strategist, Aura Art</li>
                                <li>Director, Aura Art Development Pvt Ltd</li>
                            </ul>
                            <a class="readmore readmore1 pull-right" readmores>see more </a>
                            <ul class="read-morecont read-morecont1">
                                <li> Significant focus on research, related to investing in Art, over the last 8 years, including creating awareness of Art as an asset class. Formulated strategy for Aura Art and closely involved in forging and maintaining alliances.</li>
                                <li> Working with Collectors, Corporates, Museums, Galleries and other stake holders to provide Art Infrastructure Solutions.</li>
                                <li> Providing Integrated Art Solutions to Realty Developers and Space Designers.</li>
                                <li> Worked with Ernst & Young/Andersen for 11 years (June 1997 to July 2008). As an Associate Vice President, Transaction Advisory Services, over the last couple of years, primarily focussed on M&A and fund raising for players in Healthcare, Pharma, Biotech and Real Estate industry. Prior to that, was part of the Global Tax Advisory Services team.</li>
                                <li> Educational background: - Chartered Financial Analyst, US - AIMR, US (2000-2003, awarded CFA Charter in 2004) - Chartered Accountant - ICAI (1997-2000, secured 32nd rank on all-India basis at Intermediate level) - Diploma in Business Finance - ICFAI, Hyderabad (1997) - BCom from Narsee Monjee College (1997, overall 76%) - ICSE from Jamnabai Narsee School (1992, secured highest in Maths:99% & English:94%, overall 90%) </li>
                                <li> Assisted a range of clients in identifying their investment objectives and designing (and periodically reviewing) a portfolio that achieves the objectives. This involved asset allocation over a range of available options and selection of individual investments that complement each other in a portfolio to maximise returns, given the risk profile.</li>
                                <li> Authored a series of articles on Technical Analysis for a finance weekly, on specific buy/sell/hold recommendations on stocks, over a period of one and a half years.</li>
                                <li> Involved in various community service projects, including teaching at St Catherine’s Home for 2 years, organising sports events/movies and Christmas celebrations for the children over the past 18 years, besides some Rotary and Rotaract projects.</li>
                                <li> Other interests include reading, writing poetry and meditation (practising Sahaj Marg system, offered through Shri Ram Chandra Mission, under the guidance of Shri Parthasarathi Rajagopalachari).</li>
                            </ul>
                        </div>
                    </div>
                    <div class="content-team view-more">
                        <h4 class="head-team"> Management Advisors </h4>
                        <ul>
                            <li class="head"> Shri Nilesh Ganjwala
                                <br> <span class="small"> CEO, Innergize Solutions Pvt Ltd</span>
                            </li>

                            <li class="head"> Shri Sewakpal A Bedi
                                <br> <span class="small">Director, Hotel Diplomat</span>
                            </li>

                            <li class="head"> Shri Vinit Ganjwala
                                <br> <span class="small">Director, Pinnacle & Mystique Promotions Pvt Ltd</span>
                            </li>

                            <li class="head"> Shri Premal Mehta
                                <br> <span class="small"> MD, Wealth First Advisors Pvt Ltd</span>
                            </li>

                            <li class="head"> Shri Navroz Mahudawala
                                <br> <span class="small"> Founder, Candle Partners </span>
                            </li>
                        </ul>
                    </div>
                    <div class="content-team view-more">
                        <h4 class="head-team"> Technical Advisors </h4>
                        <ul>
                            <li class="head">Padma Shri Keshav Malik
                                <br> <span class="small"> Art critic and scholar New Delhi</span>
                            </li>

                            <li class="head">Dr Shailendra K Kushwaha
                                <br> <span class="small"> Dean of and HoD of Art History & Aesthetics Faculty of Fine Arts, MSU, Baroda</span>
                            </li>

                            <li class="head">Shri Sidharth,
                                <br> <span class="small"> New Delhi </span>
                            </li>

                            <li class="head">Shri Dilip Ranade,
                                <br> <span class="small"> Mumbai </span>
                            </li>

                            <li class="head">Shri Wasim Kapoor,
                                <br> <span class="small"> Kolkata </span>
                            </li>

                            <li class="head">Shri Vrundavan Solanki
                                <br> <span class="small"> Ahmedabad </span>
                            </li>

                            <li class="head">Shri Vasudeo Kamath
                                <br> <span class="small"> Mumbai </span>
                            </li>

                            <li class="head">Shri Anil Naik
                                <br> <span class="small"> Mumbai </span>
                            </li>
                        </ul>
                    </div>
                    <div class="content-team view-more">
                        <h4 class="head-team"> Communications</h4>
                        <ul>
                            <li class="head">Shri Satish Pillai
                                <br> <span class="small"> Mumbai (Head)</span>
                            </li>
                        </ul>
                    </div>
                    <div class="content-team view-more">
                        <h4 class="head-team"> With Blessings from</h4>
                        <ul>
                            <li class="head">Shri Parthasarathi Rajagopalachari
                                <br> <span class="small"> President, Shri Ram Chandra Mission, Chennai</span>
                            </li>
                            <li class="head">Swami Dayananda Saraswati
                                <br> <span class="small">Founder, Arsha Vidya Gurukulam, Coimbatore</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="cont-2 view-more">

                        <h4 class="head-team">   Patrons </h4>
                        <ul>
                            <li class="head">Dr Karan Singh
                                <br> <span class="small">  (Patron-In-Chief) - Member of Parliament (Rajya Sabha) - President of Indian Council for Cultural Relations - Chairman, Committee of Ethics</span>
                            </li>
                            <li class="head">Mrs Supriya Sule
                                <br> <span class="small"> Member of Parliament (Lok Sabha)</span>
                            </li>

                            <li class="head">Late Shrimant Ranjitsinh Gaekwad
                                <br> <span class="small"> Maharaja of Baroda</span>
                            </li>

                            <li class="head">Shri Bobby Parikh
                                <br> <span class="small"> Managing Partner, BMR Advisors</span>
                            </li>

                            <li class="head">Shri KN Memani
                                <br> <span class="small"> Former Chairman &#38; CEO, E&#38;Y India</span>
                            </li>

                            <li class="head">Shri Anil Dharker Eminent
                                <br> <span class="small"> Writer &#38; Journalist</span>
                            </li>

                            <li class="head">Mrs Anita Dongre
                                <br> <span class="small"> Leading Fashion Designer</span>
                            </li>

                            <li class="head">Shri Shahzaad Dalal
                                <br> <span class="small"> VC &#38; MD, IL&#38;FS Investment Managers</span>
                            </li>

                            <li class="head">Shri Basant Agarwal
                                <br> <span class="small"> MD, Valpro</span>
                            </li>

                            <li class="head">Shri Utkarsh Palnitkar
                                <br> <span class="small"> Partner, KPMG</span>
                            </li>

                            <li class="head">Shri Parvaiz Dalal
                                <br> <span class="small"> MD, Head of Structured Trade, Commodity Financing &#38; Asset Distribution, Asia, Citibank</span>
                            </li>

                            <li class="head">Shri Gurpreet Singh
                                <br> <span class="small"> MD, Aakar Design Consultants</span>
                            </li>

                            <li class="head">Ms Renu Dalal Director,
                                <br> <span class="small"> Dalal Engineering</span>
                            </li>

                            <li class="head">Dr Ramakanta Panda
                                <br> <span class="small"> Chief Consultant - Cardio Thoracic Surgery, Asian Heart Institute</span>
                            </li>

                            <li class="head">Shri Adi Jehangir
                                <br> <span class="small"> Chairman, Jehangir Art Gallery</span>
                            </li>

                            <li class="head">Dr JT Vyas
                                <br> <span class="small"> HOD, Surgery, Nanavati Hospital</span>
                            </li>

                            <li class="head">Dr Hrishikesh
                                <br> <span class="small">D Pai Gynac &#38; Head IVF Unit, Lilavati Hospital</span>
                            </li>

                            <li class="head">Padma Vibhushan Pandit Birju Maharaj
                                <br> <span class="small"> World renowned kathak dancer</span>
                            </li>

                            <li class="head">Padma Bhushan Dr Girija Devi
                                <br> <span class="small"> World renowned classical singer</span>
                            </li>

                            <li class="head">Shri Nitin Killawala
                                <br> <span class="small"> Leading Architect</span>
                            </li>

                            <li class="head">Dr AD Sawant
                                <br> <span class="small"> Ex-Vice Chancellor, Univ of Raj</span>
                            </li>

                            <li class="head">Shri HC Parekh
                                <br> <span class="small"> Ex-Director General of Income Tax</span>
                            </li>

                            <li class="head">Shri PL Roongta
                                <br> <span class="small"> Ex-Chief Comm of Income Tax</span>
                            </li>

                            <li class="head">Mrs Inseeyah &#38; Mr Lamak Ezzuddin
                                <br> <span class="small"> Director &#38; MD, Master Pieces</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
