<section class="team">
    <div class="border-top"></div>
    <div class="container">
        <div class="contss">
            <h4 class="head-team">Aura Art Team</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="content-team">
                        <h4> Core Team</h4>
                        <div class="view-more">
                            <h5>Daljit S Sethi</h5>
                            <ul>
                                <li> Director, Aura Art eConnect Pvt Ltd </li>
                                <li> Director, Aura Art Development Pvt Ltd
                                </li>
                                <li> Chairman, Aura Art
                                </li>
                                <li> Member, ICCR - Advisory Committee, Mumbai
                                    <br> (Ministry of External Affairs, Government of India)
                                </li>
                                <li>Chairman, Art &#38; Culture, Spirituality &#38; Leadership,
                                    <br> Fund Raising – RI Dist 3140
                                </li>
                                <li> Director, Art &#38; Culture - RI Dist 3140 (2014-15)
                                </li>
                                <li> Deputy Governor RI Dist 3140 (1998-99) </li>
                                <li> Founder &#38; Chairman – Noble Heart Foundation
                                </li>
                            </ul>
                        </div>
                        <div class="view-more">
                            <h5>Harmeet S Sethi</h5>
                            <ul>
                                <li>Director, Aura Art eConnect Pvt Ltd</li>
                                <li>Director, Aura Art Development Pvt Ltd</li>
                                <li>CEO, Aura Art</li>
                            </ul>
                        </div>
                        <div class="view-more">
                            <h5>Rishiraj S Sethi</h5>
                            <ul>
                                <li>Director, Aura Art eConnect Pvt Ltd
                                </li>
                                <li>Director, Aura Art Development Pvt Ltd
                                </li>
                                <li>Chief Strategist, Aura Art

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="content-team">
                        <div class="view-more">
                            <h4> Management Advisors </h4>
                            <ul>
                                <h5>Shri Nilesh Ganjwala</h5>
                                <li>CEO, Innergize Solutions Pvt Ltd
                                </li>
                                <h5>Shri Vinit Ganjwala</h5>
                                <li> Director, Pinnacle &#38; Mystique Promotions Pvt Ltd
                                </li>
                                <h5>Shri Premal Mehta</h5>
                                <li> MD, Wealth First Advisors Pvt Ltd
                                </li>
                                <h5>Shri Navroz Mahudawala</h5>
                                <li> Founder, Candle Partners
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="content-team">
                        <div class="view-more">
                            <h4> Technical Advisors </h4>
                            <ul>
                                <h5>Padma Shri Keshav Malik</h5>
                                <li> Art critic and scholar New Delhi
                                </li>
                                <h5>Shri Sidharth,</h5>
                                <li> New Delhi
                                </li>
                                <h5>Dr Shailendra K Kushwaha</h5>
                                <li>Dean of and HoD of Art History &#38; Aesthetics Faculty of Fine Arts, MSU, Baroda
                                </li>
                                <h5>Shri Dilip Ranade</h5>
                                <li> Mumbai
                                </li>
                                <h5>Shri Wasim Kapoor</h5>
                                <li> Kolkata
                                </li>
                                <h5>Shri Vrundavan Solanki</h5>
                                <li> Ahmedabad
                                </li>
                                <h5>Shri Vasudeo Kamath</h5>
                                <li> Mumbai
                                </li>
                                <h5>Shri Anil Naik</h5>
                                <li> Mumbai
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="content-team">
                        <div class="view-more">
                            <h4> With Blessings from</h4>
                            <ul>
                                <h5>Shri Parthasarathi Rajagopalachari</h5>
                                <li>
                                    President, Shri Ram Chandra Mission, Chennai
                                </li>
                                <h5>Swami Dayananda Saraswati</h5>
                                <li>
                                    Founder, Arsha Vidya Gurukulam, Coimbatore
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content-team">
                        <div class="view-more">
                            <h4>   Patrons </h4>
                            <ul>
                                <h5>Dr Karan Singh</h5>
                                <li>
                                    (Patron-In-Chief) - Member of Parliament (Rajya Sabha) - President of Indian Council for Cultural Relations - Chairman, Committee of Ethics
                                </li>
                                <h5>
                                    Mrs Supriya Sule</h5>
                                <li>
                                    Member of Parliament (Lok Sabha)
                                </li>
                                <h5>Late Shrimant Ranjitsinh Gaekwad</h5>
                                <li>
                                    Maharaja of Baroda
                                </li>
                                <h5>Shri Bobby Parikh</h5>
                                <li>Managing Partner, BMR Advisors
                                </li>
                                <h5>Shri KN Memani</h5>
                                <li>
                                    Former Chairman &#38; CEO, Ernst &#38;Young India
                                </li>

                                <h5>Shri Anil Dharker Eminent</h5>
                                <li>
                                    Writer &#38; Journalist
                                </li>
                                <h5>Mrs Anita Dongre</h5>
                                <li>
                                    Leading Fashion Designer
                                </li>
                                <h5>Shri Shahzaad Dalal</h5>
                                <li>
                                    VC &#38; MD, IL&#38;FS Investment Managers
                                </li>
                                <h5>Shri Basant Agarwal</h5>
                                <li>
                                    MD, Valpro
                                </li>
                                <h5>Shri Utkarsh Palnitkar</h5>
                                <li>
                                    Partner, KPMG
                                </li>
                                <h5>Shri Gurpreet Singh</h5>
                                <li>
                                    MD, Aakar Design Consultants
                                </li>
                                <h5>Shri Parvaiz Dalal</h5>
                                <li>
                                    MD, Head of Structured Trade, Commodity Financing &#38; Asset Distribution, Asia, Citibank
                                </li>
                                <h5>Ms Renu Dalal</h5>
                                <li>
                                    Director, Dalal Engineering
                                </li>
                                <h5>Dr Ramakanta Panda</h5>
                                <li>
                                    Chief Consultant - Cardio Thoracic Surgery, Asian Heart Institute
                                </li>
                                <h5>Shri Adi Jehangir</h5>
                                <li>
                                    Chairman, Jehangir Art Gallery
                                </li>
                                <h5>Dr JT Vyas</h5>
                                <li>
                                    HOD, Surgery, Nanavati Hospital
                                </li>
                                <h5>Dr Hrishikesh</h5>
                                <li>
                                    <span class="small">D Pai Gynac &#38; Head IVF Unit, Lilavati Hospital
                                </li>
                                <h5>Padma Vibhushan Pandit Birju Maharaj</h5>
                                <li>
                                    World renowned Kathak dancer
                                </li>
                                <h5>Padma Bhushan Dr Girija Devi</h5>
                                <li>
                                    World renowned Classical singer
                                </li>
                                <h5>Shri Nitin Killawala</h5>
                                <li>
                                    Leading Architect
                                </li>
                                <h5>Dr AD Sawant</h5>
                                <li>
                                    Ex-Vice Chancellor, University of Rajasthan
                                </li>
                                <h5>Shri HC Parekh</h5>
                                <li>
                                    Ex-Director General of Income Tax
                                </li>
                                <h5>Shri PL Roongta</h5>
                                <li>
                                    Ex-Chief Comm of Income Tax
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="content-team">
                        <div class="view-more">
    <h4> Communications</h4>
    <ul>
        <h5>Shri Satish Pillai</h5>
        <li> Mumbai (Head)
        </li>
    </ul>
</div>
                    </div>
            </div>
        </div>
    </div>
    </div>
</section>
