<div class="border-top"></div>
<div class="container leader">
    <div class="media">
        <h3 class="font-color3 home-header">Thought Leadership</h3>
        <div class="view">
            <h5>Click on Title to view details</h5>
        </div>
    </div>

    <div class="row media">
        <div class="leader-detail">
            <div class="col-md-8">
                <div class="leader-data">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sr.No</th>
                                <th>Date</th>
                                <th>Title</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tab in table">
                                <td>{{tab.sr}}</td>
                                <td>{{tab.date}}</td>
                                <td><a href="#/thoughtleadershipdetail">{{tab.title}}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pad-btm">
                    <img src="img/DNA.jpg" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
    <div class="border-top"></div>
