<div class="artist">
    <div class="border-top"></div>
    <div class="container">
        <div class="row" ng-controller="filterctrl" style="position:relative;">
            <div class="painting">
                <div class="col-md-12">
                    <h4 class="head-team">Total ArtWorks</h4>
                </div>
                <div class="col-md-5">
                    <ul class="artist-crisp pad-less">
                        <li class="">
                            <a href="" class="actives">
                    All
                                    <hr class="hover-see">
                    </a>
                        </li>
                        <li class="">
                            <a href="" class="">
                    Paintings
                                    <hr class="hover-see">
                    </a>
                        </li>
                        <li class="">
                            <a href=""> 
                    Sculptures
                                    <hr class="hover-see">
                    </a>
                        </li>
                        <li class="">
                            <a href=""> 
                     Photographs
                                    <hr class="hover-see">
                     </a>
                        </li>
                        <li class="">
                            <a href="">  
                    Prints
                                    <hr class="hover-see">
                    </a>
                        </li>
                        <li class="">
                            <a href=""> 
                     Others
                                    <hr class="hover-see">
                     </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5 full-mega">
                    <ul class="artist-filter" ng-mouseover="showfilter(0)" ng-mouseleave="hidefilter(0)">
                        <li class=""><i class="fa fa-filter"></i>
                        </li>
                        <li class=""> FILTER BY</li>
                        <li class="">
                            <a href="">ARTIST</a>
                        </li>
                        <li class="">
                            /</li>
                        <li class="">
                            <a href="">PRICE</a>
                        </li>
                        <li class="">
                            /</li>
                        <li class="">
                            <a href=""> SIZE</a>
                        </li>
                        <li class="">
                            /</li>
                        <li class="">
                            <a href=""> MEDIUM</a>
                        </li>
                        <div class="megamenu" ng-include src="filterval[0]" ng-show="filters[0]">
                        </div>
                    </ul>
                </div>
                <div class="col-md-2">
                    <div class="sort-by">
                        <i class="fa fa-sort-amount-asc"></i>
                        <select name="dropdown">
                            <option value="Data Structures" selected>SORT BY</option>
                            <option value="Newest">Newest to Oldest</option>
                            <option value="Newest">Oldest to Newest</option>
                            <option value="Newest">Hight to Low</option>
                            <option value="Newest">Low to High</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-20" ng-repeat="totalartconts in totalartcont">
                <div class="aristimg-grp1">
                    <div class="image-holders" fixit>
                        <img class="fix-img" ng-src='{{totalartconts.image}}'>
                        <div class="hover-look">
                            <button type="submit" class="btn btn-sucesses button-small text-center" ng-click="showDetails();">Quick View</button>
                            <a type="submit" class="btn btn-sucesses button-small text-center" href="#/detailImage">Details</a>
                        </div>
                    </div>
                    <div class="artist-cont-detail">
                        <p>
                            {{totalartconts.id}}
                            <i class="fa fa-heart"></i>
                        </p>
                        <p>
                            {{totalartconts.name}}
                        </p>
                        <p>
                            {{totalartconts.size}} inches
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
