<div class="artist">
    <div class="border-top"></div>
    <div class="container">
        <div class="row" ng-controller="filterctrl" style="position:relative;">
            <div class="painting">
                <div class="col-md-12">
                    <h4 class="head-team">Total ArtWorks</h4>
                </div>
                <div class="col-md-5">
                    <ul class="artist-crisp pad-less">
                        <li class="" ng-click="makeactive(type.name);" ng-repeat="type in typejson">
                            <a href="" class="{{type.class}}">{{type.name}}
                            <hr class="hover-see">
                            </a>
                        </li>
                        <!--
                        <li class="" ng-click="makeactive('Paintings');">
                            <a href="" class="">
                    Paintings
                                    <hr class="hover-see">
                    </a>
                        </li>
                        <li class="" ng-click="makeactive('Sculptures');">
                            <a href=""> 
                    Sculptures
                                    <hr class="hover-see">
                    </a>
                        </li>
                        <li class="" ng-click="makeactive('Photographs');">
                            <a href=""> 
                     Photographs
                                    <hr class="hover-see">
                     </a>
                        </li>
                        <li class="" ng-click="makeactive('Prints');">
                            <a href="">  
                    Prints
                                    <hr class="hover-see">
                    </a>
                        </li>
                        <li class="" ng-click="makeactive('Others');">
                            <a href=""> 
                     Others
                                    <hr class="hover-see">
                     </a>
                        </li>
-->
                    </ul>
                </div>
                <div class="col-md-5 full-mega">
                    <ul class="artist-filter" ng-click="showfilter(0)" ng-mouseleave="hidefilter(0)">
                        <li class=""><i class="fa fa-filter"></i>
                        </li>
                        <li class=""> FILTER BY</li>
                        <li class="">
                            <a href="">ARTIST</a>
                        </li>
                        <li class="">
                            /</li>
                        <li class="">
                            <a href="">PRICE</a>
                        </li>
                        <li class="">
                            /</li>
                        <li class="">
                            <a href=""> SIZE</a>
                        </li>
                        <li class="">
                            /</li>
                        <li class="">
                            <a href=""> MEDIUM</a>
                        </li>
                        <div class="megamenu" ng-include src="filterval[0]" ng-show="filters[0]">
                        </div>
                    </ul>
                </div>
                <div class="col-md-2">
                    <div class="sort-by" ng-click="showfilter(1)" ng-mouseleave="hidefilter(1)">
                        <i class="fa fa-sort-amount-asc"></i> Sort By
                        <div class="megamenu" ng-include src="filterval[1]" ng-show="filters[1]">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" infinite-scroll='addMoreItems();' infinite-scroll-distance="0" infinite-scroll-disabled="shouldscroll">
            <div class="col-xs-20" ng-repeat="totalartconts in totalartcont">
                <div class="aristimg-grp1">
                    <div class="relative">
                        <a ng-click="goToDetailPage(totalartconts.artwork);">
                            <div class="image-holders fixit">
                                <img class="fix-img" ng-src='{{totalartconts.artwork.image[0]|uploadthumbnail}}'>
                            </div>
                        </a>
                        <div class="hover-look">
                            <button type="submit" class="btn btn-sucesses button-small text-center" ng-click="showDetails(totalartconts);">Quick View</button>
                            <a type="submit" class="btn btn-sucesses button-small text-center" ng-click="goToDetailPage(totalartconts.artwork);">Details</a>
                        </div>
                    </div>
                    <div class="artist-cont-detail">
                        <p>
                            {{totalartconts.artwork.srno}}
                            <i class="{{totalartconts.heartClass}}" ng-click="makeFav(totalartconts);"></i>
                            <i class="fa fa-shopping-cart"></i>
                        </p>
                        <p>
                            {{totalartconts.name}}
                        </p>
                        <p>
                            {{totalartconts.artwork|makesizestr}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>