<div ng-controller="headerctrl">
<header class="stickyheader" scroll>
    <div class="container">
        <div class="row">
            <div class="col-md-3 nopad-right text-center">
                <a href="#/home">
                    <img src="img/logofixed.jpg" alt="logo" class="img-responsive logo">
                </a>
            </div>
            <div class="col-md-9  nopad-left">
                <div class="row above-nav">
                    <div class="col-md-4 col-sm-4">
                        <div class="input-group ingroup">
                            <input type="search" class="form-control" placeholder="Search...">
                            <span class="input-group-btn"><button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button></span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="social-icons">
                            <ul>
                                <li><i class="fa fa-facebook-square"></i></li>
                                <li><i class="fa fa-twitter-square"></i></li>
                                <li><i class="fa fa-google-plus-square"></i></li>
                                <li><i class="fa fa-youtube-square"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5 row-flex login-head">
                        <div class="col-flex box-height" ng-click="showLogin();">
                            <div class="style4-bg small-box"><i class="fa fa-user"></i>
                            </div>
                            <div class="inline-box">Login</div>
                        </div>
                        <script type="text/ng-template" id="demopoplogin">
                            Hello World!
                        </script>
                        <div class="col-flex box-height">
                            <div class="style3-bg small-box"><i class="fa fa-star-o"></i>
                            </div>
                            <div class="inline-box"><span class="light-shade">Wish</span>
                                <br>List</div>
                        </div>

                        <div class="col-flex box-height">
                            <div class="style2-bg small-box"></div>
                            <div class="inline-box">
                                My Cart
                                <br><span class="light-shade">Rs.0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 nopad-right text-center">
                <a href="#/home">
                    <img src="img/logo.jpg" alt="logo" class="img-responsive logo">
                </a>
            </div>
            <div class="col-md-9  nopad-left">

                <div class="row above-nav">
                    <div class="col-md-4 col-sm-4">
                        <div class="input-group ingroup">
                            <input type="search" class="form-control" placeholder="Search...">
                            <span class="input-group-btn"><button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button></span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="social-icons">
                            <ul>
                                <li><i class="fa fa-facebook-square"></i></li>
                                <li><i class="fa fa-twitter-square"></i></li>
                                <li><i class="fa fa-google-plus-square"></i></li>
                                <li><i class="fa fa-youtube-square"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5 row-flex login-head">
                        <div class="col-flex box-height" ng-click="showLogin();">
                            <div class="style4-bg small-box"><i class="fa fa-user"></i>
                            </div>
                            <div class="inline-box">Login</div>
                        </div>
                        <div class="col-flex box-height">
                            <div class="style3-bg small-box"><i class="fa fa-star-o"></i>
                            </div>
                            <div class="inline-box"><span class="light-shade">Wish</span>
                                <br>List</div>
                        </div>

                        <div class="col-flex box-height">
                            <div class="style2-bg small-box"></div>
                            <div class="inline-box">
                                My Cart
                                <br><span class="light-shade">Rs.0</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Nav bar-->
                <nav class="navbar">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                            <span class="sr-only">Menu</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse nopad" id="nav-collapse">
                        <div ng-include="template.menu" class="template menu"></div>
                    </div>
                </nav>
                <!--Nav bar-->
            </div>
        </div>
    </div>
</header>
</div>