<header>

    <div class="container">
        <div class="row">
            <div class="col-md-3 nopad-right">
                <a href="#/home">
                    <img src="img/logo.jpg" alt="logo" class="img-responsive logo">
                </a>
            </div>
            <div class="col-md-9 nopad-left">

                <div class="row above-nav">
                    <div class="col-md-4">
                        <div class="input-group ingroup">
                            <input type="search" class="form-control" placeholder="Search...">
                            <span class="input-group-btn"><button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button></span>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-5 row-flex">

                        <div class="col-flex box-height">
                            <div class="style4-bg small-box"><i class="fa fa-user"></i>
                            </div>
                            <div class="inline-box">Login</div>
                        </div>

                        <div class="col-flex box-height">
                            <div class="style3-bg small-box"><i class="fa fa-star-o"></i>
                            </div>
                            <div class="inline-box"><span class="light-shade">Wish</span>
                                <br>List</div>
                        </div>

                        <div class="col-flex box-height">
                            <div class="style2-bg small-box"></div>
                            <div class="inline-box">
                                My Cart
                                <br><span class="light-shade">Rs.0</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Nav bar-->
                <nav class="navbar">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                            <span class="sr-only">Menu</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse nopad" id="nav-collapse">
                        <div ng-include="template.menu" class="template menu"></div>
                    </div>
                </nav>
                <!--Nav bar-->
            </div>
        </div>
    </div>



</header>